@charset "utf-8";

$hoverColor: #1973c1;

.oh {
  overflow: hidden;
}

body {
  background-color: #fff;
  min-width: 1200px;
}

.bg-white {
  background: white !important;
}

// 首页补充
body .swiper-pagination-bullet {
  opacity: 1;
}

body .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

.search-inp {
  position: absolute;
  height: 30px;
  width: 152px;
  top: -36px;
  right: 0;
  z-index: 4;

  input {
    display: block;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-radius: 14px;
    width: 0px;
    text-indent: 10px;
    opacity: 0;
    transition: all .3s;
    outline: none;
  }

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    transform: translateY(-50%)
  }

  .close {
    display: none;
  }

  .search {
    display: block;
  }

  &.active {
    .close {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      display: block;
    }

    .search {
      display: none;
    }

    input {
      width: 150px;
      opacity: 1;
    }
  }
}

// 关于我们
.container-2 {
  width: 1190px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.ty-banner {
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 49.5%;
    transform: translate(-50%, -50%);
  }

  h2 {
    width: 389px;
    height: 114px;
    line-height: 74px;
    text-align: center;
    font-size: 28px;
    color: rgba(255, 255, 255, 1);
    background-image: url(../images-2/title.png);
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 54px;
    box-sizing: border-box;
    padding: 0 50px 0 0;
  }

  .nav-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: rgba(243, 243, 246, 1);
    font-size: 20px;

    span {
      display: inline-block;
      cursor: pointer;
      transition: all .3s;
      color: rgba(69, 70, 69, 1);

      &:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        background: rgba(69, 70, 69, 1);
        opacity: 0.74;
        border-radius: 50%;
        vertical-align: 4px;
        margin: 0 22px 0 20px;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      &.active,
      &:hover {
        color: #1973c1;
      }
    }
  }
}

.ty-title {
  font-size: 42px;
  font-weight: bold;
  color: rgba(6, 52, 86, 1);
  line-height: 80px;
  width: 100%;
  text-align: center;
  position: relative;
}

.list-nums {
  text-align: center;
  width: 100%;
  position: relative;

  .prev,
  .next {
    position: absolute;
    width: 64px;
    height: 24px;
    background-size: 100% 100%;
    top: 28px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .prev {
    background-image: url(../images/left.png);
    left: 0;
  }

  .next {
    background-image: url(../images/right.png);
    right: 0;
  }

  .nums {
    line-height: 72px;

    a {
      display: inline-block;
      margin-right: 20px;
      font-size: 21px;
      color: rgba(63, 63, 63, 1);
      font-weight: 300;

      &:hover,
      &.active {
        color: $hoverColor;
        font-weight: bold;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.ty-more {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 56px;
  transition: all .3s;
  width: 182px;
  height: 56px;
  background: rgba(25, 115, 193, 1);

  &:hover {
    font-size: 18px;
  }
}

.ty-bolls {
  text-align: center;
  margin-top: 27px;

  span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: rgba(218, 215, 208, .5);
    border-radius: 50%;
    margin: 0 10px;
  }

  span.swiper-pagination-bullet-active {
    background: rgba(6, 52, 86, 1);
  }
}

.ty-dean {
  padding: 130px 0 80px;
  margin: 0 auto;
  width: 483 + 60 + 654px;
  overflow: hidden;

  .dean-img {
    width: 466px;
    position: relative;

    img {
      width: 466px;
      display: block;
    }

    .name {
      width: 304px;
      height: 109px;
      position: absolute;
      bottom: 42px;
      right: -12px;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      background: rgba(25, 115, 193, 1);
    }

    h3 {
      font-size: 24px;
      padding-top: 20px;
    }

    p {
      font-size: 18px;
      opacity: .7;
    }
  }

  .dean-say {
    width: 684px;
    position: relative;

    p {
      font-size: 18px;
      color: rgba(18, 18, 18, 1);
      line-height: 32px;
      text-indent: 36px;
    }

    .ty-title {
      margin-bottom: 20px;
      text-align: left;
    }

    .write-img {
      float: right;
      padding-top: 26px;
      width: 166px;
    }
  }
}

.ty-training {
  width: 100%;
  padding: 120px 0 0;
  height: 761px;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-image: url(../images-2/about-detial.png);
  position: relative;
  overflow: hidden;


}

.bdsharebuttonbox {
  display: none;
}

.serach-div {
  width: 1190px;
  margin: 0 auto;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}

.ty-connect {
  padding: 100px 0 90px;
  width: 1200px;
  margin: 0 auto;
  position: relative;

  .ty-title {
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .in {
    position: absolute;
    width: 719px;
    height: 484px;
    background: rgba(255, 255, 255, 1);
    top: 600px;
    left: 50%;
    transform: translateX(-50%);

    .ty-title {
      padding-top: 48px;
      margin-bottom: 33px;
    }

    p {
      display: block;
      width: 440px;
      margin: 0 auto;
      font-size: 18px;
      color: rgba(18, 18, 18, 1);
      line-height: 1.5;
      padding-top: 68px;
    }

    a {
      display: block;
      margin: 53px auto;

      &:hover {
        font-size: 21px;
      }
    }
  }
}

// 新闻
.news {
  height: 152px;

  h2 {
    bottom: 40px;
    left: auto;
    right: 65px;

    &:after {
      width: 167px;
      height: 114px;
      background-image: url(../images/new/title-bottom2.png);
    }
  }
}

.ty-new-list {
  width: 575+575+50px;
  padding-top: 50px;
  margin: 0 auto;

  .list {
    padding: 0 0;
    margin-left: -50px;

    >a {
      @extend .clearfix;
      display: block;
      width: 575-60px;
      height: 216-60px;
      background: rgba(255, 255, 255, 1);
      margin-left: 50px;
      float: left;
      box-shadow: 0 0 6px rgba(0, 0, 0, .15);
      padding: 30px;
      margin-bottom: 38px;
      position: relative;
      transition: all .3s;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 576px;
        height: 3px;
        background: rgba(25, 115, 193, 1);
        opacity: 0;
        transform: translateY(50px);
        transition: all .3s;
      }

      &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, .3);

        &:before {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .time {
    float: left;
    font-size: 12px;
    color: rgba(6, 52, 86, 1);
    ;
    line-height: 18px;
    font-weight: 300;
    width: 30px;
    text-align: center;

    strong {
      display: block;
      font-size: 25px;
      font-weight: 300;
    }
  }

  .detial {
    float: left;
    position: relative;
    width: 360px;
    padding-left: 42px;
    margin-left: 20px;

    h3 {
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
      line-height: 30px;
      margin-bottom: 18px;
      height: 60px;
      @extend .two_cut;
    }

    p {
      font-size: 13px;
      color: rgba(18, 18, 18, .78);
      line-height: 23px;
      opacity: 0.78;
      height: 23*3px;
      @extend .six_cut;
    }

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 132px;
      background: rgba(0, 0, 0, .3);
      opacity: 0.17;
      position: absolute;
      left: -1px;
      top: 0;
    }
  }
}

.ty-crumbs {
  line-height: 50px;
  font-size: 12px;
  color: rgba(6, 52, 86, 1);
  position: absolute;
  bottom: 30px;
  left: 0;

  a {
    color: rgba(6, 52, 86, 1);

    &:hover {
      font-weight: bold;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 2px;
      background: rgba(6, 52, 86, 1);
      opacity: 0.74;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 6px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.ty-new-list2,
.ty-new-list3 {
  width: 1200px;
  margin: 0 auto;

  .list {
    padding-bottom: 50px;

    a {
      display: block;
      width: 1200px;
      height: 269px;
      background: rgba(243, 243, 246, 1);
      margin-bottom: 30px;
      position: relative;
      transition: all .3s;
      overflow: hidden;

      &:hover {
        box-shadow: 0px 5px 23px 1px rgba(0, 0, 0, 0.18);

        .detial h3 {
          font-weight: bold;
          text-decoration: underline;
        }

        img {
          transform: scale(1.05)
        }
      }
    }
  }

  img {
    width: 420px;
    height: 265px;
    margin: 2px;
    display: block;
    float: left;
    transition: all .3s;
  }

  .time {
    float: left;
    font-size: 12px;
    color: rgba(6, 52, 86, 1);
    line-height: 18px;
    width: 30px;
    text-align: center;
    margin-left: 24px;
    padding-top: 45px;

    strong {
      display: block;
      font-size: 25px;
      font-weight: normal;
      margin-top: 6px;
    }
  }

  .detial {
    float: left;
    position: relative;
    width: 590px;
    padding-left: 42px;
    margin-left: 20px;
    margin-top: 45px;

    h3 {
      font-size: 24px;
      color: rgba(0, 0, 0, 1);
      line-height: 30px;
      margin-bottom: 18px;
      transition: all .3s;
      @extend .two_cut;
    }

    p {
      font-size: 13px;
      color: rgba(18, 18, 18, 1);
      line-height: 24px;
      opacity: 0.78;
      height: 24*4px;
      @extend .four_cut;
    }

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 165px;
      background: rgba(0, 0, 0, 1);
      opacity: 0.17;
      position: absolute;
      left: -1px;
      top: 0;
    }
  }
}

.ty-new-list3 {
  .list {
    a {
      height: auto;
      padding-bottom: 50px;
      @extend .clearfix;
    }
  }

  .time {
    margin-left: 50px;
  }

  .detial {
    width: 980px;

    h3 {
      height: auto;
    }

    p {
      height: auto;
      @extend .six_cut;
    }

    &:before {
      height: 100%;
    }
  }
}

.ty-new-detial {
  width: 1200px;
  margin: 0 auto;

  .ty-title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
  }

  .left-bar {
    float: left;
    width: 110px;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      top: 0;
      right: 0;
      height: 500px;
      background: rgba(0, 0, 0, .1);
    }

    .time {
      padding: 24px;
      display: inline-block;
      background: #1973C1;
      color: #fff;
      font-size: 18px;
      text-align: center;
      margin-bottom: 120px;
      font-weight: 300;

      strong {
        display: block;
        font-size: 35px;
        font-weight: 300;
        line-height: 1;
      }
    }

    .share {
      width: 84px;
      text-align: center;

      p {
        text-align: center;
        position: relative;
        margin-bottom: 20px;

        em {
          display: block;
          margin: 0 auto;
          width: 34px;
          background: #fff;
          font-size: 14px;
          color: #aaa;
          position: relative;
          z-index: 2;

        }

        &:before {
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          top: 10px;
          left: 0;
          background: #eee;
        }
      }

      a {
        margin-bottom: 15px;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 60px;
        background: #ccc;
        color: #fff;
        font-size: 25px;
        text-align: center;
        transition: all .3s;

        &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        }
      }
    }
  }

  .new-main {
    float: left;
    width: 1028px;
    font-size: 18px;
    color: rgba(52, 52, 52, 1);
    line-height: 30px;
    margin-left: 60px;

    strong,
    b {
      font-weight: bold;
    }

    i,
    em {
      font-style: italic
    }

    p {
      text-indent: 36px;
      margin-bottom: 30px;
    }

    img {
      width: 650px;
      margin: 0 auto;
      display: block;
    }

    .img-detial {
      display: block;
      font-size: 14px;
      color: rgba(52, 52, 52, .75);
      line-height: 30px;
      text-align: center;
      margin: 10px 0 30px;
    }
  }
}

// 就业指导
.ty-guidance {
  padding: 94px 0 134px;
  width: 1200px;
  margin: 0 auto;
  position: relative;

  .main {
    padding: 55px 0 0;
  }

  .top {
    position: relative;
    margin-bottom: 70px;

    img {
      display: block;
      height: 580px;
    }
  }

  .r {
    padding: 70px;
    width: 404px;
    position: absolute;
    right: 0;
    top: 50%;
    background: #fff;
    margin-top: -220px;

    h4 {
      font-size: 30px;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      line-height: 32px;
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      color: rgba(18, 18, 18, 1);
      line-height: 30px;
      margin-bottom: 60px;
    }
  }
}

.ty-recruit,
.ty-vocation {
  float: left;
  width: 294px;
  margin-right: 80px;

  .ty-title {
    font-size: 30px;
    text-align: left;
  }

  li {
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: rgba(18, 18, 18, 1);
  }

  p {
    span {
      color: rgba(6, 52, 86, 1);
      margin-right: 10px;
    }

    transition: all .3s;
    color:rgba(18, 18, 18, 1);

    &:hover {
      color: rgba(6, 52, 86, 1);
      font-weight: bold;
    }
  }
}

.ty-how-connect {
  border-left: 1px solid #ddd;
  margin-left: 12px;
  padding-left: 80px;
  float: left;

  .ty-title {
    font-size: 30px;
    text-align: left;
  }

  font-size:14px;
  color:rgba(18, 18, 18, .8);
  line-height:34px;

  &:after {
    content: '';
    display: block;
    width: 94px;
    height: 5px;
    background: rgba(6, 52, 86, 1);
    margin-top: 30px;
  }

  i {
    width: 18px;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #3C5473;
    font-style: normal;
  }
}

// 社会实践
.ty-practice {
  .img {
    width: 352px;
    height: 242px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all .3s;

    img {
      width: 100%;
      height: 100%;
      display: block;
      transition: all .3s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

// 校园生活

.ty-sport {
  padding: 90px 0 420px;
  width: 100%;
  overflow: hidden;
  background: rgba(243, 243, 246, 1);
  position: relative;

  .left-img {
    width: 1012px;
    height: 455px;
    display: block;
    position: absolute;
    top: 60px;
    right: 660px;
  }

  .in {
    padding-top: 35px;
    width: 1200px;
    margin: 0 auto;
  }

  .main {
    padding: 40px 100px 100px;
    background: #fff;
    width: 100000px;
    position: relative;
    top: 172px;
    z-index: 3;
    margin-left: 480px;

    .list {
      width: 748px;
      line-height: 84px;
    }

    .item {
      display: block;
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
      white-space: nowrap;
      height: 84px;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(0, 0, 0, .15);
      transition: all .3s;

      &:hover {
        font-weight: bold;
        color: #063456;
      }
    }

    .time {
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
      margin-right: 50px;
    }

    .ty-more {
      position: absolute;
      left: 0;
      bottom: -120px;
    }
  }
}

// 招生
.ty-doctor {
  width: 100%;
  overflow: hidden;
  position: relative;

  .all-img {
    height: 1160px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }

  .ty-title {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 2;
  }

  .doctor-list {
    position: absolute;
    top: 150px;
    width: 1200px;
    height: 950px;
    background: rgba(25, 115, 193, 1);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);

    ul {
      padding: 30px 65px;
    }

    li {
      float: left;
      width: 500px;
      height: 222px;
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, .3);

      &:nth-child(2n) {
        margin-left: 70px;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .left {
      float: left;
      width: 115px;
      font-size: 72px;
      padding-top: 10px;
      font-weight: 300;
    }

    .right {
      width: 385px;
      float: right;
    }

    h3 {
      font-size: 24px;
      padding-top: 30px;
      margin-bottom: 20px;
    }

    .text {
      font-size: 12px;
      line-height: 18px;
      opacity: 0.7;
      height: 54px;
    }

    .tags {
      padding-top: 10px;

      em {
        display: inline-block;
        margin-right: 10px;
        width: 90px;
        height: 30px;
        background: rgba(255, 255, 255, 1);
        font-size: 14px;
        color: rgba(25, 115, 193, 1);
        border-radius: 30px;
        text-align: center;
        line-height: 30px;
      }

      a {
        color: rgba(25, 115, 193, 1);
      }
    }
  }
}

.ty-index-report {
  padding-top: 70px;
}

.add-more {
  a {
    margin: 0 auto;
  }
}

.ty-product-list {
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;

  li {
    float: left;
    width: 580px;
    height: 372px;
    position: relative;
    margin-bottom: 90px;

    &:nth-child(2n) {
      margin-left: 40px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .in {
    position: absolute;
    width: 380px;
    right: -16px;
    height: 330px;
    top: 70px;
    background: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    padding: 0 0 0 50px;
  }

  .num {
    font-size: 72px;
    font-weight: 400;
    color: rgba(233, 233, 233, 1);
    line-height: 72px;
    position: absolute;
    top: 44px;
    right: 16px;
    display: block;
  }

  h3 {
    padding-top: 60px;
    width: 200px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(6, 29, 63, 1);
    line-height: 40px;
    margin-bottom: 30px;
  }

  .text {
    width: 300px;
    font-size: 14px;
    color: rgba(6, 29, 63, 1);
  }

  .tags {
    overflow: hidden;
    position: absolute;
    left: 50px;
    bottom: 30px;

    em {
      width: 90px;
      height: 30px;
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(25, 115, 193, 1);
      font-size: 14px;
      color: rgba(25, 115, 193, 1);
      line-height: 30px;
      text-align: center;
      border-radius: 30px;
      margin-right: 12px;
      display: inline-block;
    }

    a {
      color: rgba(25, 115, 193, 1);
    }
  }
}

.ty-report-list {
  padding: 30px 50px;
  width: 1200px;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  margin: 0 auto;

  ul {
    margin-bottom: 30px;
  }

  li {
    height: 75px;
    line-height: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    span {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {

      .time,
      .text {
        font-weight: 600
      }
    }
  }

  .time {
    font-size: 18px;
    font-weight: 300;
    color: rgba(6, 52, 86, 1);
    width: 64+91px;
  }

  .text {
    width: 900px;
    font-size: 18px;
    font-weight: 400;
  }
}


.ty-zs-doc {
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 100px;

  .main {
    width: 1200px;
    height: 808px;
    position: relative;
    margin: 0 auto;
  }

  .step {
    width: 1200px;
    position: absolute;
    right: 400px;

    h3 {
      padding-top: 76px;
      font-size: 30px;
      font-weight: bold;
      color: rgba(6, 29, 63, 1);
      line-height: 36px;
    }

    img {
      display: block;
      width: 1200px;
    }

    ul {
      position: absolute;
      right: 237px;
      top: 144px;
    }

    li {
      position: relative;
      width: 216+350px;
      margin-bottom: 18px;
      overflow: hidden;
      box-sizing: border-box;
      padding-left: 216px;

      .point {
        width: 216px;
        height: 108px;
        text-align: center;
        line-height: 108px;
        background-image: url(../images-2/point.png);
        background-size: cover;
        font-size: 24px;
        box-sizing: border-box;
        padding-right: 108px;
        color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        em {
          position: absolute;
          width: 108px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          line-height: 1.2;
        }

        span {
          display: block;
          font-size: 14px;
        }
      }

      .detial {
        width: 348px;
        background: rgba(18, 58, 88, 1);
        box-sizing: border-box;
        padding: 20px 25px;
        float: left;
      }

      .second {
        font-size: 15px;
        color: rgba(255, 255, 255, 1);
        line-height: 24px;
        overflow: hidden;
        margin-bottom: 20px;

        span {
          width: 50%;
          box-sizing: border-box;
          float: left;

          &:first-child {
            border-right: 1px dashed rgba(255, 255, 255, .6);
          }

          &:last-child {
            padding-left: 24px;
          }
        }
      }

      .one {
        font-size: 15px;
        color: rgba(255, 255, 255, 1);
        line-height: 24px;
        margin-bottom: 15px;
      }

      .text {
        font-size: 13px;
        color: rgba(255, 255, 255, 1);
        line-height: 18px;
        opacity: 0.7;
      }
    }
  }

  .ty-title {
    padding: 70px 0 20px;
  }

  .about {
    position: absolute;
    background: rgba(25, 115, 193, 1);
    padding: 70px;
    width: 382px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    text-indent: 36px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.ty-zs-doc-2 {
  background: rgba(243, 243, 246, 1);

  .step {
    right: auto;
    left: 400px;

    ul {
      top: 75px;
      left: 237px;
      right: auto;
    }

    img {
      width: 1243px;
    }
  }

  .about {
    left: -20px;
    right: auto;
  }
}

.ty-china {
  padding: 0 0 114px;

  .ty-title {
    margin-bottom: 60px;
  }
}

.ty-public-div {
  width: 1200px;
  height: 625px;
  position: relative;
  margin: 0 auto;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  .detial {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 628px;
    box-sizing: border-box;
    padding: 70px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
    background: rgba(25, 115, 193, 1);
  }

  .ty-more {
    margin: 50px auto 0;
    color: rgba(25, 115, 193, 1);
    background: #fff;
  }
}

.ty-abort {
  background: rgba(243, 243, 246, 1);
  padding-top: 100px;
}

.ty-public-div2 {
  img {
    left: auto;
    right: 0;
  }

  .detial {
    left: 0;
    right: auto;
  }
}

.ty-connect-zs {
  height: 768px;
  width: 100%;
  min-width: 1200px;
  box-sizing: border-box;
  position: relative;
  padding-top: 100px;
  margin: 0 auto -117px;
  overflow: hidden;

  img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  .in {
    margin-top: 50px;
    width: 510px;
    white-space: nowrap;
    padding: 80px 166px;
    background: rgba(25, 115, 193, 1);
    margin: 50px auto 0;
    position: relative;
    z-index: 2;

    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    line-height: 30px;

    h3 {
      font-size: 18px;
      font-weight: bold;
      line-height: 36px;
      color: rgba(255, 255, 255, 1);
    }
  }
}