@charset "UTF-8";
/* svn相对地址 */
/* 项目下建立文本或者其他说明 本产品的产品及其对接的相关人员 */
/**
* Description: Base style 
* Developers: zhiwen <zhiwen@leju.sina.com.cn>
**/
/*RESET
-------------------------------------------------------------- */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ul, li {
  margin: 0; }

ul, input {
  padding: 0; }

ol, li {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

del, ins {
  text-decoration: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input, button, textarea, select {
  font-size: 100%; }

q:before, q:after {
  content: ""; }

addr, acronym {
  border: 0;
  font-variant: normal; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  top: -0.5em; }

sup {
  bottom: -0.25em; }

/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after, .nav .nav_list .in:after, .newList:after, footer .footer_top:after, .ty-new-list .list > a:after, .ty-new-list3 .list a:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .nav .nav_list .in, .newList, footer .footer_top, .ty-new-list .list > a, .ty-new-list3 .list a {
  display: inline-block; }

* html .clearfix, * html .nav .nav_list .in, .nav .nav_list * html .in, * html .newList, * html footer .footer_top, footer * html .footer_top, * html .ty-new-list .list > a, .ty-new-list * html .list > a, * html .ty-new-list3 .list a, .ty-new-list3 .list * html a {
  height: 1%; }

.clearfix, .nav .nav_list .in, .newList, footer .footer_top, .ty-new-list .list > a, .ty-new-list3 .list a {
  display: block; }

/*FONT
-------------------------------------------------------------- */
body {
  font: 12px/1.5 "Arial","\5FAE\8F6F\96C5\9ED1","\5b8b\4f53", sans-serif;
  color: #000;
  background: #fff; }

a {
  color: #000;
  text-decoration: none; }

a:active {
  color: #df1830; }

.fb {
  font-weight: 700; }

.fn {
  font-weight: 400; }

.unl {
  text-decoration: underline; }

.no_unl {
  text-decoration: none; }

/*POSITION
-------------------------------------------------------------- */
.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.bc {
  margin-left: auto;
  margin-right: auto; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right;
  display: inline; }

.vm {
  vertical-align: middle; }

.vt {
  vertical-align: top; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.abs-right {
  position: absolute;
  right: 0; }

.abs-left {
  position: absolute;
  left: 0; }

.hidden {
  visibility: hidden; }

.none {
  display: none; }

.f-ifont {
  font-family: 'iconfont'; }

@font-face {
  font-family: 'iconfont';
  /* project id 994519 */
  src: url("//at.alicdn.com/t/font_994519_hsz2ibaunk.eot");
  src: url("//at.alicdn.com/t/font_994519_hsz2ibaunk.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_994519_hsz2ibaunk.woff2") format("woff2"), url("//at.alicdn.com/t/font_994519_hsz2ibaunk.woff") format("woff"), url("//at.alicdn.com/t/font_994519_hsz2ibaunk.ttf") format("truetype"), url("//at.alicdn.com/t/font_994519_hsz2ibaunk.svg#iconfont") format("svg"); }
.content, .title, .newList, .ts-tit, footer, .ty-title, .project, .ty-more, .ty-banner h2, .nav-list, .points i, .map .student, .dean-img, .dean-say, .ty-general .in, .ty-training .in, .ty-connect img, .ty-connect p, .ty-guidance img, .ty-guidance .r, .ty-recruit, .ty-vocation, .ty-how-connect, .report-in .left, .report-in .right, .report-list, .ty-new-list a, .new-main p, .new-main img, .left-bar .time, .left-bar .share, .ty-new-list2 .list a, .ty-new-list3 .list a, .ty-zs img, .ty-zs .in, .ty-download img, .ty-download .in, .ty-sport img, .ty-sport .in, .ty-department-list, .teacher, .set-in .img, .set-in .zy, .ty-ugd-programme img, .ty-pro-list, .ty-ugd-course img {
  opacity: 1;
  transition: all .5s;
  visibility: hidden; }

body .an_toTop {
  opacity: 1 !important;
  visibility: visible !important;
  animation: toTop 0.5s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both; }

body .an_toBottom {
  opacity: 1 !important;
  visibility: visible !important;
  animation: toBottom 0.5s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both; }

body .an_show {
  opacity: 1 !important;
  visibility: visible !important;
  animation: show 0.7s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both; }

body .an_toBig {
  opacity: 1 !important;
  visibility: visible !important;
  animation: big 0.7s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both; }

body .an_toRight {
  opacity: 1 !important;
  visibility: visible !important;
  animation: toRight 0.5s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both; }

body .an_toLeft {
  opacity: 1 !important;
  visibility: visible !important;
  animation: toLeft 0.5s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both; }

.an_delay1 {
  animation-delay: 0.1s; }

.an_delay2 {
  animation-delay: 0.2s; }

.an_delay3 {
  animation-delay: 0.3s; }

.an_delay4 {
  animation-delay: 0.4s; }

.an_delay5 {
  animation-delay: 0.5s; }

.an_delay6 {
  animation-delay: 0.6s; }

.an_delay7 {
  animation-delay: 0.7s; }

.an_delay8 {
  animation-delay: 0.8s; }

.an_delay9 {
  animation-delay: 0.9s; }

.an_delay10 {
  animation-delay: 1s; }

.an_delay11 {
  animation-delay: 1.1s; }

.an_delay12 {
  animation-delay: 1.2s; }

.an_delay13 {
  animation-delay: 1.3s; }

.an_delay14 {
  animation-delay: 1.4s; }

.an_delay15 {
  animation-delay: 1.5s; }

.an_delay16 {
  animation-delay: 1.6s; }

.an_delay17 {
  animation-delay: 1.7s; }

.an_delay18 {
  animation-delay: 1.8s; }

.an_delay19 {
  animation-delay: 1.9s; }

.an_delay20 {
  animation-delay: 2s; }

.an_delay21 {
  animation-delay: 2.1s; }

.an_delay22 {
  animation-delay: 2.2s; }

.an_delay23 {
  animation-delay: 2.3s; }

.an_delay24 {
  animation-delay: 2.4s; }

.an_delay25 {
  animation-delay: 2.5s; }

.an_delay26 {
  animation-delay: 2.6s; }

.an_delay27 {
  animation-delay: 2.7s; }

.an_delay28 {
  animation-delay: 2.8s; }

.an_delay29 {
  animation-delay: 2.9s; }

.an_delay30 {
  animation-delay: 3s; }

.an_delay31 {
  animation-delay: 3.1s; }

.an_delay32 {
  animation-delay: 3.2s; }

.an_delay33 {
  animation-delay: 3.3s; }

.an_delay34 {
  animation-delay: 3.4s; }

.an_delay35 {
  animation-delay: 3.5s; }

.an_delay36 {
  animation-delay: 3.6s; }

.an_delay37 {
  animation-delay: 3.7s; }

.an_delay38 {
  animation-delay: 3.8s; }

.an_delay39 {
  animation-delay: 3.9s; }

.an_delay40 {
  animation-delay: 4s; }

@keyframes toTop {
  0% {
    transform: translate3d(0px, 100px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1; } }
@keyframes toBottom {
  0% {
    transform: translate3d(0px, -100px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1; } }
@keyframes toRight {
  0% {
    transform: translate3d(-100px, 0px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1; } }
@keyframes toLeft {
  0% {
    transform: translate3d(100px, 0px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1; } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes big {
  0% {
    opacity: 0;
    transform: scale(0.7); }
  100% {
    opacity: 1;
    transform: scale(1); } }
body {
  width: 100%;
  min-width: 1200px;
  font-family: '微软雅黑'; }

span {
  outline: none; }

/*多行溢出*/
.one_cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.two_cut, .ty-new-list .detial h3, .ty-new-list2 .detial h3,
.ty-new-list3 .detial h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.three_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.four_cut, .ty-new-list2 .detial p,
.ty-new-list3 .detial p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.six_cut, .ty-new-list .detial p, .ty-new-list3 .detial p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; }

.eight_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical; }

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }

.header_top {
  width: 100%;
  height: 43px;
  background: linear-gradient(90deg, #921688, #921688, #003b8e, #003b8e); }
  .header_top .header_top_left {
    padding-left: 10px;
    height: 100%; }
    .header_top .header_top_left ul li {
      height: 100%;
      line-height: 43px; }
      .header_top .header_top_left ul li span {
        display: inline-block;
        width: 3px;
        height: 3px;
        background: white;
        opacity: 0.5;
        border-radius: 50%;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 6px; }
      .header_top .header_top_left ul li a {
        color: white;
        opacity: 0.7;
        font-size: 12px;
        padding: 0 7px 0 1px; }
        .header_top .header_top_left ul li a:hover {
          opacity: 1; }
      .header_top .header_top_left ul li .span_last {
        margin-left: -2px; }
  .header_top .header_top_right {
    height: 43px;
    line-height: 43px;
    padding-right: 8px; }
    .header_top .header_top_right a {
      display: inline-block;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      padding: 0 8px;
      color: white;
      opacity: 0.7; }
      .header_top .header_top_right a:hover {
        opacity: 1; }
      .header_top .header_top_right a i {
        font-style: normal;
        display: inline-block;
        margin-right: 4px; }

.nav {
  width: 100%;
  height: 149px; }
  .nav .brand {
    width: 1190px;
    height: 107px;
    line-height: 107px;
    margin: 0 auto;
    position: relative; }
    .nav .brand img {
      position: absolute;
      zoom: 1; }
    .nav .brand .l {
      position: relative;
      padding-left: 2px;
      vertical-align: middle; }
    .nav .brand .m {
      left: 510px;
      top: 32px; }
    .nav .brand .r {
      right: 10px;
      top: 34px; }
  .nav .nav-top {
    width: 100%;
    height: 107px;
    background-size: 100% 100%;
    background: linear-gradient(90deg, #f1f0f7, #b4b0d4);
    position: relative; }
    .nav .nav-top:before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../images/top-bar.png);
      background-size: 100% 100%; }
  .nav .nav_list {
    line-height: 42px;
    height: 42px;
    position: relative;
    background: #063456; }
    .nav .nav_list .in {
      width: 1190px;
      margin: 0 auto;
      position: relative; }
    .nav .nav_list a {
      font-size: 16px;
      color: #fff;
      display: inline-block;
      text-align: center;
      float: left;
      padding: 0 20px; }
      .nav .nav_list a:hover {
        color: #ab8455; }
      .nav .nav_list a.active {
        background: #ab8455;
        color: #fff; }
    .nav .nav_list em {
      position: absolute;
      width: 70px;
      height: 3px;
      left: 10px;
      bottom: 0px;
      background: #ab8455;
      transition: all .5s; }

.carousel {
  position: relative; }
  .carousel .swiper-slide-active img {
    z-index: 9; }
  .carousel .swiper-container {
    width: 100%;
    min-width: 1200px;
    height: 780px;
    padding-bottom: 50px;
    background: #f3f3f6;
    margin-bottom: -30px; }
    .carousel .swiper-container .swiper-slide {
      width: 100%;
      min-width: 1200px;
      position: relative; }
      .carousel .swiper-container .swiper-slide img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: all .3s; }
        .carousel .swiper-container .swiper-slide img:hover {
          transform: scale(1.05) translate(-50%, -50%); }
      .carousel .swiper-container .swiper-slide .center {
        position: absolute;
        text-align: center;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        width: 1200px;
        height: 144px;
        line-height: 144px;
        font-size: 28px;
        color: black;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05); }
        .carousel .swiper-container .swiper-slide .center span {
          width: 95%;
          display: block;
          white-space: nowrap;
          margin: 0 auto;
          overflow: hidden;
          text-overflow: ellipsis; }
    .carousel .swiper-container #center {
      bottom: 180px !important; }
      .carousel .swiper-container #center .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 8px;
        background-color: #fff;
        opacity: 0.4; }
      .carousel .swiper-container #center .swiper-pagination-bullet-active {
        opacity: 1; }

@media screen and (min-width: 1921px) and (max-width: 3000px) {
  .carousel .swiper-container .swiper-slide img {
    width: 100%;
    height: auto; } }
.title {
  margin: 66px auto 0;
  height: 36px; }
  .title .left {
    width: 64px;
    height: 23px;
    background-image: url(../images/left.png); }
  .title .right {
    width: 64px;
    height: 25px;
    background-image: url(../images/right.png); }
  .title p {
    height: 36px;
    font-size: 36px;
    font-weight: bold;
    color: #063456;
    line-height: 18px;
    text-align: center; }

.newList {
  height: auto;
  margin-top: 90px; }
  .newList .newText {
    display: block;
    width: 353px;
    height: 100%;
    margin-right: 70px; }
    .newList .newText:hover .p1 {
      font-weight: 700;
      color: #063456; }
    .newList .newText .left {
      width: 56px;
      height: 135px;
      background: url(../images/new_bg2.png) no-repeat top left;
      padding-right: 24px;
      margin-top: 5px;
      text-align: center; }
      .newList .newText .left span {
        display: inline-block;
        color: #fff;
        width: 100%; }
        .newList .newText .left span.month {
          margin-top: 18px;
          line-height: 13px; }
        .newList .newText .left span.day {
          font-size: 20px;
          line-height: 24px; }
        .newList .newText .left span.l_new {
          margin-top: 29px;
          font-size: 12px;
          font-weight: 400;
          color: #053355;
          line-height: 0px; }
    .newList .newText .p1 {
      padding-bottom: 10px;
      font-size: 18px;
      color: #050505;
      line-height: 26px;
      transition: all .5s; }
    .newList .newText .p2 {
      width: 261px;
      font-size: 13px;
      color: #9a9a9a;
      line-height: 22px; }
  .newList .newText:last-child {
    margin-right: 0; }
  .newList .newText:nth-child(2) .p2 {
    width: 264px; }
  .newList .newText:nth-child(3) .p2 {
    width: 266px; }

.boll {
  text-align: center;
  margin-top: 27px; }
  .boll span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: rgba(218, 215, 208, 0.5);
    border-radius: 50%;
    margin: 0 10px !important; }
  .boll span.swiper-pagination-bullet-active {
    background: #063456; }

footer {
  margin-top: 117px;
  background-image: url(../images/bg-top.jpg); }
  footer p {
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    line-height: 18px;
    opacity: 0.47; }
  footer .footer_top {
    width: 100%;
    height: 199px; }
    footer .footer_top .top_left {
      padding: 44px 0 0; }
      footer .footer_top .top_left a {
        display: block;
        padding-bottom: 18px; }
        footer .footer_top .top_left a img {
          width: 269px;
          height: 52px; }
    footer .footer_top .top_right {
      padding: 83px 20px 0 0; }
      footer .footer_top .top_right a {
        width: 41px;
        height: 41px;
        background: rgba(255, 255, 255, 0.4);
        color: rgba(0, 0, 0, 0.7);
        text-align: center;
        line-height: 41px;
        border-radius: 50%;
        display: inline-block;
        font-size: 22px;
        transition: all .5s;
        position: relative; }
        footer .footer_top .top_right a .socialwraper {
          position: absolute;
          background: #fff;
          width: 130px;
          height: 130px;
          top: 55px;
          left: 50%;
          margin-left: -67px;
          border: 1px solid #ccc;
          display: none;
          z-index: 1; }
          footer .footer_top .top_right a .socialwraper i {
            border-color: transparent;
            border-style: solid;
            border-width: 10px;
            display: block;
            height: 0;
            position: absolute;
            width: 0;
            border-bottom-color: #ccc;
            border-top-width: 0;
            left: 50%;
            margin-left: -8px;
            top: -10px; }
          footer .footer_top .top_right a .socialwraper em {
            border-color: transparent;
            border-style: solid;
            border-width: 10px;
            display: block;
            height: 0;
            position: absolute;
            width: 0;
            border-bottom-color: #fff;
            border-top-width: 0;
            left: -10px;
            top: 1px; }
          footer .footer_top .top_right a .socialwraper img {
            width: 100%;
            height: auto;
            margin: 0; }
        footer .footer_top .top_right a:hover .socialwraper {
          display: block; }
        footer .footer_top .top_right a:last-child {
          margin-left: 20px; }
        footer .footer_top .top_right a img {
          width: 23px;
          height: 20px;
          margin: 10px; }
  footer .footer_botttom {
    height: 86px; }
    footer .footer_botttom .line_bottom {
      width: 1192px;
      height: 1px;
      background: white;
      opacity: 0.19;
      float: left; }
    footer .footer_botttom p {
      margin-top: 20px; }
  footer a {
    color: white; }
    footer a:hover {
      font-weight: bold; }

.oh {
  overflow: hidden; }

body {
  background-color: #fff;
  min-width: 1200px; }

body .swiper-pagination-bullet {
  opacity: 1; }

body .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px; }

.search-inp {
  position: absolute;
  height: 30px;
  width: 152px;
  top: -36px;
  right: 0;
  z-index: 4; }
  .search-inp input {
    display: block;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-radius: 14px;
    width: 0px;
    text-indent: 10px;
    opacity: 0;
    transition: all .3s;
    outline: none; }
  .search-inp i {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    transform: translateY(-50%); }
  .search-inp .close {
    display: none; }
  .search-inp .search {
    display: block; }
  .search-inp.active .close {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    display: block; }
  .search-inp.active .search {
    display: none; }
  .search-inp.active input {
    width: 150px;
    opacity: 1; }

.container-2 {
  width: 1190px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.ty-banner {
  height: 355px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .ty-banner img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 49.5%;
    transform: translate(-50%, -50%); }
  .ty-banner h2 {
    width: 337px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    font-size: 28px;
    color: white;
    background-image: url(../images/new/title.png);
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    bottom: 80px; }
    .ty-banner h2:after {
      content: '';
      width: 211px;
      height: 158px;
      display: block;
      position: absolute;
      background-image: url(../images/new/title-bottom.png);
      background-size: 100% 100%;
      top: 0;
      right: -49px; }
  .ty-banner .nav-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    font-size: 20px; }
    .ty-banner .nav-list span {
      display: inline-block;
      cursor: pointer;
      transition: all .3s;
      color: #454645; }
      .ty-banner .nav-list span:before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        background: #454645;
        opacity: 0.74;
        border-radius: 50%;
        vertical-align: 4px;
        margin: 0 22px 0 20px; }
      .ty-banner .nav-list span:first-child:before {
        display: none; }
      .ty-banner .nav-list span.active, .ty-banner .nav-list span:hover {
        color: #AB8455;
        font-weight: 600; }

.ty-title {
  font-size: 42px;
  font-weight: bold;
  color: #063456;
  line-height: 80px;
  width: 100%;
  text-align: center;
  position: relative; }

.list-nums {
  text-align: center;
  width: 100%;
  position: relative; }
  .list-nums .prev,
  .list-nums .next {
    position: absolute;
    width: 64px;
    height: 24px;
    background-size: 100% 100%;
    top: 28px;
    cursor: pointer;
    transition: all .3s; }
    .list-nums .prev:hover,
    .list-nums .next:hover {
      transform: scale(1.1); }
  .list-nums .prev {
    background-image: url(../images/left.png);
    left: 0; }
  .list-nums .next {
    background-image: url(../images/right.png);
    right: 0; }
  .list-nums .nums {
    line-height: 72px; }
    .list-nums .nums a {
      display: inline-block;
      margin-right: 20px;
      font-size: 21px;
      color: #3f3f3f; }
      .list-nums .nums a:hover, .list-nums .nums a.active {
        color: #AB8455;
        font-weight: bold; }
      .list-nums .nums a:last-child {
        margin-right: 0; }

.ty-more {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 56px;
  transition: all .3s;
  width: 182px;
  height: 56px;
  background: #1973c1; }
  .ty-more:hover {
    font-size: 18px; }

.ty-bolls {
  text-align: center;
  margin-top: 27px; }
  .ty-bolls span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: rgba(218, 215, 208, 0.5);
    border-radius: 50%;
    margin: 0 10px; }
  .ty-bolls span.swiper-pagination-bullet-active {
    background: #063456; }

.ty-dean {
  padding: 130px 0 80px;
  margin: 0 auto;
  width: 1197px;
  overflow: hidden; }
  .ty-dean .dean-img {
    width: 483px;
    position: relative; }
    .ty-dean .dean-img img {
      width: 483px;
      display: block; }
    .ty-dean .dean-img .name {
      width: 407px;
      height: 122px;
      position: absolute;
      bottom: 20px;
      right: -16px;
      color: white;
      background-image: url(../images/new/xz-bar.png);
      background-size: 100% 100%;
      text-align: right; }
    .ty-dean .dean-img h3 {
      font-size: 24px;
      padding: 12px 80px 0 0; }
    .ty-dean .dean-img p {
      font-size: 18px;
      opacity: .7;
      padding-right: 80px; }
  .ty-dean .dean-say {
    width: 654px;
    position: relative; }
    .ty-dean .dean-say p {
      font-size: 18px;
      color: #121212;
      line-height: 30px;
      margin-bottom: 30px; }
    .ty-dean .dean-say .ty-title {
      margin-bottom: 20px;
      text-align: left; }
    .ty-dean .dean-say .write-img {
      float: right;
      padding-top: 26px;
      width: 166px; }

.ty-training {
  width: 100%;
  padding: 130px 0 170px;
  height: 468px;
  background-size: cover;
  background-position: center;
  background-image: url(../images-2/about-detial.png);
  position: relative;
  overflow: hidden; }

.bdsharebuttonbox {
  display: none; }

.serach-div {
  width: 1190px;
  margin: 0 auto;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.ty-connect {
  padding: 167px 0 70px;
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .ty-connect img {
    width: 100%;
    height: auto; }
  .ty-connect .in {
    position: absolute;
    width: 609px;
    height: 484px;
    background: white;
    opacity: 0.9;
    bottom: -25px;
    left: 50%;
    margin-left: -304.5px; }
    .ty-connect .in .ty-title {
      padding-top: 48px;
      margin-bottom: 33px; }
    .ty-connect .in p {
      display: block;
      width: 440px;
      margin: 0 auto;
      font-size: 18px;
      color: #121212;
      line-height: 1.5; }
    .ty-connect .in a {
      display: block;
      margin: 24px auto; }
      .ty-connect .in a:hover {
        font-size: 21px; }

.news {
  height: 152px; }
  .news h2 {
    bottom: 40px;
    left: auto;
    right: 65px; }
    .news h2:after {
      width: 167px;
      height: 114px;
      background-image: url(../images/new/title-bottom2.png); }

.ty-new-list {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }
  .ty-new-list .list {
    padding: 50px 0;
    margin-left: -50px; }
    .ty-new-list .list > a {
      display: block;
      width: 515px;
      height: 235px;
      background: white;
      margin-left: 50px;
      float: left;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
      padding: 40px 30px;
      margin-bottom: 38px;
      position: relative;
      transition: all .3s; }
      .ty-new-list .list > a:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 576px;
        height: 3px;
        background: #AB8455;
        opacity: 0;
        transform: translateY(50px);
        transition: all .3s; }
      .ty-new-list .list > a:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); }
        .ty-new-list .list > a:hover:before {
          transform: translateY(0);
          opacity: 1; }
  .ty-new-list .time {
    float: left;
    font-size: 12px;
    color: #063456;
    line-height: 18px;
    width: 30px;
    text-align: center; }
    .ty-new-list .time strong {
      display: block;
      font-size: 25px; }
  .ty-new-list .detial {
    float: left;
    position: relative;
    width: 360px;
    padding-left: 42px;
    margin-left: 20px; }
    .ty-new-list .detial h3 {
      font-size: 18px;
      color: black;
      line-height: 30px;
      margin-bottom: 18px;
      height: 60px; }
    .ty-new-list .detial p {
      font-size: 13px;
      color: #121212;
      line-height: 23px;
      opacity: 0.78;
      height: 138px; }
    .ty-new-list .detial:before {
      content: '';
      display: block;
      width: 1px;
      height: 165px;
      background: black;
      opacity: 0.17;
      position: absolute;
      left: -1px;
      top: 0; }

.ty-crumbs {
  line-height: 50px;
  font-size: 12px;
  color: #063456;
  position: absolute;
  bottom: 0;
  left: 0; }
  .ty-crumbs a {
    color: #063456; }
    .ty-crumbs a:hover {
      font-weight: bold; }
    .ty-crumbs a:after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 2px;
      background: #063456;
      opacity: 0.74;
      border-radius: 50%;
      vertical-align: 2px;
      margin: 0 6px; }
    .ty-crumbs a:last-child:after {
      display: none; }

.ty-new-list2,
.ty-new-list3 {
  width: 1200px;
  margin: 0 auto; }
  .ty-new-list2 .list,
  .ty-new-list3 .list {
    padding-bottom: 50px; }
    .ty-new-list2 .list a,
    .ty-new-list3 .list a {
      display: block;
      width: 1200px;
      height: 269px;
      background: #f3f3f6;
      margin-bottom: 30px;
      position: relative;
      transition: all .3s;
      overflow: hidden; }
      .ty-new-list2 .list a:hover,
      .ty-new-list3 .list a:hover {
        box-shadow: 0px 5px 23px 1px rgba(0, 0, 0, 0.18); }
        .ty-new-list2 .list a:hover .detial h3,
        .ty-new-list3 .list a:hover .detial h3 {
          font-weight: bold;
          text-decoration: underline; }
        .ty-new-list2 .list a:hover img,
        .ty-new-list3 .list a:hover img {
          transform: scale(1.05); }
  .ty-new-list2 img,
  .ty-new-list3 img {
    width: 420px;
    height: 265px;
    margin: 2px;
    display: block;
    float: left;
    transition: all .3s; }
  .ty-new-list2 .time,
  .ty-new-list3 .time {
    float: left;
    font-size: 12px;
    color: #063456;
    line-height: 18px;
    width: 30px;
    text-align: center;
    margin-left: 24px;
    padding-top: 45px; }
    .ty-new-list2 .time strong,
    .ty-new-list3 .time strong {
      display: block;
      font-size: 25px;
      font-weight: normal;
      margin-top: 6px; }
  .ty-new-list2 .detial,
  .ty-new-list3 .detial {
    float: left;
    position: relative;
    width: 590px;
    padding-left: 42px;
    margin-left: 20px;
    margin-top: 45px; }
    .ty-new-list2 .detial h3,
    .ty-new-list3 .detial h3 {
      font-size: 24px;
      color: black;
      line-height: 30px;
      margin-bottom: 18px;
      transition: all .3s; }
    .ty-new-list2 .detial p,
    .ty-new-list3 .detial p {
      font-size: 13px;
      color: #121212;
      line-height: 24px;
      opacity: 0.78;
      height: 96px; }
    .ty-new-list2 .detial:before,
    .ty-new-list3 .detial:before {
      content: '';
      display: block;
      width: 1px;
      height: 165px;
      background: black;
      opacity: 0.17;
      position: absolute;
      left: -1px;
      top: 0; }

.ty-new-list3 .list a {
  height: auto;
  padding-bottom: 50px; }
.ty-new-list3 .time {
  margin-left: 50px; }
.ty-new-list3 .detial {
  width: 980px; }
  .ty-new-list3 .detial h3 {
    height: auto; }
  .ty-new-list3 .detial p {
    height: auto; }
  .ty-new-list3 .detial:before {
    height: 100%; }

.ty-new-detial {
  width: 1200px;
  margin: 0 auto; }
  .ty-new-detial .ty-title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px; }
  .ty-new-detial .left-bar {
    float: left;
    width: 110px; }
    .ty-new-detial .left-bar .time {
      padding: 24px;
      display: inline-block;
      background: #b99a75;
      color: #fff;
      font-size: 18px;
      text-align: center;
      margin-bottom: 120px; }
      .ty-new-detial .left-bar .time strong {
        display: block;
        font-size: 35px; }
    .ty-new-detial .left-bar .share {
      width: 84px;
      text-align: center; }
      .ty-new-detial .left-bar .share p {
        text-align: center;
        position: relative;
        margin-bottom: 20px; }
        .ty-new-detial .left-bar .share p em {
          display: block;
          margin: 0 auto;
          width: 34px;
          background: #fff;
          font-size: 14px;
          color: #aaa;
          position: relative;
          z-index: 2; }
        .ty-new-detial .left-bar .share p:before {
          content: '';
          height: 1px;
          width: 100%;
          position: absolute;
          top: 10px;
          left: 0;
          background: #eee; }
      .ty-new-detial .left-bar .share a {
        margin-bottom: 15px;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 60px;
        background: #ccc;
        color: #fff;
        font-size: 25px;
        text-align: center;
        transition: all .3s; }
        .ty-new-detial .left-bar .share a:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .ty-new-detial .new-main {
    float: left;
    width: 1028px;
    font-size: 18px;
    color: #343434;
    line-height: 30px;
    margin-left: 60px; }
    .ty-new-detial .new-main strong,
    .ty-new-detial .new-main b {
      font-weight: bold; }
    .ty-new-detial .new-main i,
    .ty-new-detial .new-main em {
      font-style: italic; }
    .ty-new-detial .new-main p {
      text-indent: 36px;
      margin-bottom: 30px; }
    .ty-new-detial .new-main img {
      width: 650px;
      margin: 0 auto;
      display: block; }
    .ty-new-detial .new-main .img-detial {
      display: block;
      font-size: 14px;
      color: rgba(52, 52, 52, 0.75);
      line-height: 30px;
      text-align: center;
      margin: 10px 0 30px; }

.ty-guidance {
  padding: 94px 0 134px;
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .ty-guidance .main {
    padding: 55px 0 0; }
  .ty-guidance .top {
    position: relative;
    margin-bottom: 70px; }
    .ty-guidance .top img {
      display: block;
      height: 580px; }
  .ty-guidance .r {
    padding: 70px;
    width: 404px;
    position: absolute;
    right: 0;
    top: 50%;
    background: #fff;
    margin-top: -220px; }
    .ty-guidance .r h4 {
      font-size: 30px;
      font-weight: bold;
      color: black;
      line-height: 32px;
      margin-bottom: 30px; }
    .ty-guidance .r p {
      font-size: 18px;
      color: #121212;
      line-height: 30px;
      margin-bottom: 60px; }

.ty-recruit,
.ty-vocation {
  float: left;
  width: 294px;
  margin-right: 80px; }
  .ty-recruit .ty-title,
  .ty-vocation .ty-title {
    font-size: 30px;
    text-align: left; }
  .ty-recruit li,
  .ty-vocation li {
    line-height: 40px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #121212; }
  .ty-recruit p,
  .ty-vocation p {
    transition: all .3s;
    color: #121212; }
    .ty-recruit p span,
    .ty-vocation p span {
      color: #063456;
      margin-right: 10px; }
    .ty-recruit p:hover,
    .ty-vocation p:hover {
      color: #063456;
      font-weight: bold; }

.ty-how-connect {
  border-left: 1px solid #ddd;
  margin-left: 12px;
  padding-left: 80px;
  float: left;
  font-size: 14px;
  color: rgba(18, 18, 18, 0.8);
  line-height: 34px; }
  .ty-how-connect .ty-title {
    font-size: 30px;
    text-align: left; }
  .ty-how-connect:after {
    content: '';
    display: block;
    width: 94px;
    height: 5px;
    background: #063456;
    margin-top: 30px; }
  .ty-how-connect i {
    width: 18px;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #3C5473;
    font-style: normal; }

.ty-practice .img {
  width: 352px;
  height: 242px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: all .3s; }
  .ty-practice .img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all .3s; }
  .ty-practice .img:hover img {
    transform: scale(1.1); }

.ty-school-student {
  padding: 70px 0 160px; }
  .ty-school-student .boll {
    margin-top: 0;
    position: relative;
    top: -80px; }
  .ty-school-student div.student_content {
    padding-top: 80px; }
  .ty-school-student div.title {
    margin-bottom: 40px; }
  .ty-school-student .ty-more {
    display: block;
    margin: 55px auto 0; }

.ty-sport {
  padding: 90px 0 270px;
  width: 100%;
  overflow: hidden;
  background: #f3f3f6;
  position: relative; }
  .ty-sport .left-img {
    width: 789px;
    height: 506px;
    display: block;
    position: absolute;
    top: 80px;
    right: 660px; }
  .ty-sport .in {
    padding-top: 35px;
    width: 1200px;
    margin: 0 auto; }
  .ty-sport .main {
    padding: 40px 100px 100px;
    background: #fff;
    width: 100000px;
    position: relative;
    z-index: 3;
    margin-left: 346px; }
    .ty-sport .main .list {
      width: 748px;
      line-height: 84px; }
    .ty-sport .main .item {
      display: block;
      font-size: 18px;
      color: black;
      white-space: nowrap;
      height: 84px;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      transition: all .3s; }
      .ty-sport .main .item:hover {
        font-weight: bold;
        color: #063456; }
    .ty-sport .main .time {
      font-size: 18px;
      color: black;
      margin-right: 50px; }
    .ty-sport .main .ty-more {
      position: absolute;
      left: 250px;
      bottom: -26px; }

.add-more {
  padding-top: 30px; }
  .add-more a {
    margin: 0 auto; }

.for-mobile {
  display: none; }

@media screen and (min-width: 1px) and (max-width: 1019px) {
  body {
    padding-top: 4rem;
    min-width: 100% !important; }
    body .pc {
      display: none; }
    body .serach-div {
      display: none; }
    body .news-detail .container-2 {
      height: auto; }
    body .container {
      width: 100%; }
    body .header_top {
      display: none; }
    body .search-inp {
      display: none; }
    body .nav {
      width: 100%;
      height: 0rem;
      position: relative;
      z-index: 13;
      background: #fff; }
      body .nav:before {
        height: 4rem; }
      body .nav .nav-top {
        height: 4rem;
        position: fixed;
        top: 0;
        left: 0; }
      body .nav .brand {
        width: auto;
        height: 4rem;
        line-height: 4rem;
        background: #fff;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
        body .nav .brand .m,
        body .nav .brand .r {
          display: none; }
        body .nav .brand .l {
          display: inline-block;
          margin: 0 0 0 1rem;
          height: 75%;
          width: auto; }
        body .nav .brand:after {
          right: -5rem;
          height: 4rem; }
      body .nav .in {
        width: 100% !important; }
      body .nav .nav_list {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(18, 58, 88, 0.8);
        line-height: 2.5rem;
        z-index: 11;
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-top: 1px solid rgba(224, 224, 224, 0.95);
        padding: 5rem 0 0;
        margin-left: 0; }
        body .nav .nav_list a {
          float: none;
          width: 100%;
          display: block;
          text-align: center;
          margin: 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          font-size: 1.5rem;
          text-align: center;
          line-height: 4rem;
          color: rgba(255, 255, 255, 0.8);
          text-indent: 1rem;
          padding-left: 0; }
          body .nav .nav_list a:first-child {
            padding-left: 0; }
        body .nav .nav_list .active {
          background: #b89973;
          border-bottom: 0; }
        body .nav .nav_list .close {
          display: block;
          position: absolute;
          right: 1rem;
          top: 1.2rem;
          font-size: 3rem;
          color: #E0E0E0;
          font-style: normal; }
      body .nav .aside {
        width: 100%;
        height: 4rem;
        top: 4rem;
        right: -0.9rem; }
        body .nav .aside img {
          height: 4rem; }
      body .nav .menu {
        display: block;
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-style: normal;
        font-size: 2.5rem;
        box-sizing: border-box;
        background-size: 100% 100%;
        color: #ab8455; }
    body .carousel .swiper-container {
      min-width: 100%;
      height: 16rem; }
      body .carousel .swiper-container .swiper-slide {
        min-width: 100%; }
        body .carousel .swiper-container .swiper-slide .center {
          bottom: 3.5rem;
          width: 20rem;
          height: auto;
          background-image: none;
          font-size: 1.4rem;
          color: white;
          line-height: 1.8rem;
          padding: 0.5rem 0.6rem;
          transform: translateX(-50%);
          background: rgba(171, 132, 85, 0.8); }
          body .carousel .swiper-container .swiper-slide .center span {
            width: 100%; }
      body .carousel .swiper-container #center {
        bottom: 1rem !important; }
        body .carousel .swiper-container #center .swiper-pagination-bullet {
          width: 0.6rem;
          height: 0.6rem;
          margin: 0 0.4rem; }
    body .title {
      margin: 3.3rem auto 0;
      height: 1.8rem; }
      body .title .left {
        width: 3.2rem;
        height: 1.15rem; }
      body .title .right {
        width: 3.2rem;
        height: 1.25rem;
        background-image: url(../images/right.png); }
      body .title p {
        height: auto;
        font-size: 2rem;
        line-height: 2.4rem; }
    body .boll {
      margin-top: 0.5rem; }
      body .boll span {
        width: 0.6rem;
        height: 0.6rem;
        margin: 0 0.45rem !important; }
    body .newList {
      padding-top: 0rem;
      width: 26rem;
      height: auto;
      margin: 1rem auto 0rem;
      overflow: hidden; }
      body .newList .newText {
        width: 100%;
        height: auto;
        margin: 0 auto 2rem; }
        body .newList .newText .left {
          width: 2.8rem;
          height: 4rem;
          background: url(../images/new_bg2.png) top left;
          padding: 0.6rem;
          margin-top: 0.25rem;
          text-align: center; }
          body .newList .newText .left span.month {
            margin-top: 0.9rem;
            line-height: 0.7rem; }
          body .newList .newText .left span.day {
            font-size: 1rem;
            line-height: 1.2rem; }
          body .newList .newText .left span.l_new {
            text-align: center;
            width: 4rem;
            margin-left: -0.6rem;
            margin-top: 2rem;
            font-size: 0.8rem;
            line-height: 1.5;
            white-space: nowrap; }
        body .newList .newText .p1 {
          margin-bottom: 0.3rem;
          padding-bottom: 0;
          padding-left: 1.2rem;
          font-size: 1.2rem;
          line-height: 1.4rem; }
        body .newList .newText .p2 {
          width: 20.5rem;
          padding-left: 1.2rem;
          font-size: 1rem;
          color: #9a9a9a;
          line-height: 1.6rem; }
      body .newList .newText:nth-child(2) .p2 {
        width: 20.5rem; }
      body .newList .newText:nth-child(3) .p2 {
        width: 20.5rem; }
    body footer {
      margin-top: 4rem; }
      body footer p {
        height: auto;
        font-size: 0.9rem;
        line-height: 1.5rem; }
      body footer .footer_top {
        width: 100%;
        height: auto; }
        body footer .footer_top .top_left {
          display: block;
          float: none;
          padding: 1.5rem 0;
          width: 100%;
          text-align: center; }
          body footer .footer_top .top_left a {
            padding-bottom: 1rem; }
            body footer .footer_top .top_left a img {
              width: 18rem;
              height: auto; }
        body footer .footer_top .top_right {
          display: block;
          float: none;
          padding: 1rem 0;
          text-align: center;
          padding-bottom: 0; }
          body footer .footer_top .top_right:hover {
            padding-bottom: 140px; }
          body footer .footer_top .top_right .socialwraper {
            position: absolute;
            background: #fff;
            width: 130px;
            height: 130px;
            top: 55px;
            left: 50%;
            margin-left: -34px;
            border: 1px solid #ccc;
            display: none;
            z-index: 1; }
            body footer .footer_top .top_right .socialwraper i {
              display: none; }
            body footer .footer_top .top_right .socialwraper img {
              width: 100%;
              height: auto;
              margin: 0; }
      body footer .footer_botttom {
        height: auto;
        padding: 1.5rem 0; }
        body footer .footer_botttom p {
          float: none;
          display: block;
          text-align: center; }
        body footer .footer_botttom .line_bottom {
          width: 90%;
          margin: 0 auto;
          display: block;
          margin-bottom: 1.5rem;
          float: none; }
        body footer .footer_botttom p {
          margin-top: 0.3rem; }

  .container-2 {
    width: 100%; }

  .ty-banner {
    height: 9rem; }
    .ty-banner img {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .ty-banner h2 {
      width: 11.2333333333rem;
      height: 2.4666666667rem;
      line-height: 2.4666666667rem;
      font-size: 1rem;
      left: 2.5rem;
      bottom: 2.6666666667rem; }
      .ty-banner h2:after {
        width: 7.0333333333rem;
        height: 5.2666666667rem;
        right: -1.6333333333rem; }
    .ty-banner .nav-list {
      height: 2rem;
      line-height: 2rem;
      font-size: 1rem; }
      .ty-banner .nav-list span:before {
        width: 0.2rem;
        height: 0.2rem;
        vertical-align: 0.2rem;
        margin: 0 0.5rem 0; }

  .ty-title {
    font-size: 2.1rem;
    line-height: 4rem; }

  .list-nums .prev,
  .list-nums .next {
    width: 3.2rem;
    height: 1.2rem;
    top: 1.4rem; }
  .list-nums .nums {
    line-height: 3.6rem; }
    .list-nums .nums a {
      margin-right: 1rem;
      font-size: 1rem; }

  .ty-more {
    font-size: 0.8rem;
    line-height: 1rem;
    line-height: 2.8rem;
    width: 9.1rem;
    height: 2.8rem; }
    .ty-more:hover {
      font-size: 0.9rem; }

  .ty-bolls {
    margin-top: 1.35rem; }
    .ty-bolls span {
      width: 0.6rem;
      height: 0.6rem;
      margin: 0 0.5rem; }

  .ty-dean {
    padding: 4rem 2.5rem;
    width: 100%;
    box-sizing: border-box; }
    .ty-dean .dean-img {
      width: 100%; }
      .ty-dean .dean-img img {
        width: 100%; }
      .ty-dean .dean-img .name {
        width: 20.35rem;
        height: 6.1rem;
        bottom: 1rem;
        right: -0.8rem; }
      .ty-dean .dean-img h3 {
        font-size: 1.2rem;
        padding: 0.6rem 4rem 0 0; }
      .ty-dean .dean-img p {
        font-size: 0.9rem;
        opacity: .7;
        padding-right: 4rem; }
    .ty-dean .dean-say {
      width: 100%;
      padding-top: 2rem; }
      .ty-dean .dean-say p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem; }
      .ty-dean .dean-say .ty-title {
        margin-bottom: 1rem; }
      .ty-dean .dean-say .write-img {
        padding-top: 1.3rem;
        width: 8.3rem; }

  .ty-training {
    width: 100%;
    height: auto;
    padding: 4rem 0; }

  .ty-connect {
    padding: 4rem 0 0;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    .ty-connect img {
      width: 100%;
      height: auto; }
    .ty-connect .in {
      position: relative;
      width: 90%;
      height: auto;
      top: 0;
      margin-left: -45%;
      margin-top: -2rem; }
      .ty-connect .in .ty-title {
        padding-top: 1.5rem;
        margin-bottom: 1rem; }
      .ty-connect .in p {
        width: 90%;
        font-size: 1rem; }
      .ty-connect .in a {
        position: static;
        margin-left: -0.55rem;
        width: 26.3rem; }
        .ty-connect .in a:hover {
          font-size: 1.05rem; }

  .news {
    height: 7.6rem; }
    .news h2 {
      bottom: 1.3rem;
      right: 3.25rem; }
      .news h2:after {
        width: 5.5666666667rem;
        height: 3.8rem; }

  .ty-new-list {
    width: 100%; }
    .ty-new-list .list {
      padding: 2.5rem 0;
      margin-left: 0; }
      .ty-new-list .list > a {
        display: block;
        width: 22.8rem;
        height: auto;
        margin-left: 0;
        float: none;
        padding: 2.5rem;
        margin: 0 auto 1.9rem; }
        .ty-new-list .list > a:before {
          width: 30rem;
          height: 0.15rem; }
        .ty-new-list .list > a:hover {
          box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.3); }
    .ty-new-list .time {
      float: left;
      font-size: 1rem;
      line-height: 1.4rem;
      width: 1.5rem; }
      .ty-new-list .time strong {
        font-size: 1.25rem; }
    .ty-new-list .detial {
      float: left;
      width: 20rem;
      box-sizing: border-box;
      padding-left: 2.1rem;
      margin-left: 1rem; }
      .ty-new-list .detial h3 {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 0.9rem;
        height: auto;
        -webkit-line-clamp: 100; }
      .ty-new-list .detial p {
        font-size: 1rem;
        line-height: 1.4rem;
        height: auto;
        -webkit-line-clamp: 100; }
      .ty-new-list .detial:before {
        width: 1px;
        left: 0.5rem;
        height: 8.25rem; }

  .ty-crumbs {
    position: static;
    line-height: 2.5rem;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    padding-top: 0.75rem; }
    .ty-crumbs a:after {
      margin: 0 3px; }

  .ty-new-list2,
  .ty-new-list3 {
    width: 90%;
    margin: 0 auto; }
    .ty-new-list2 .list,
    .ty-new-list3 .list {
      padding-bottom: 0rem; }
      .ty-new-list2 .list a,
      .ty-new-list3 .list a {
        width: 100%;
        height: auto;
        padding-bottom: 2rem;
        margin-bottom: 1.5rem; }
    .ty-new-list2 img,
    .ty-new-list3 img {
      width: 100%;
      height: auto;
      margin: 0.1rem;
      float: none; }
    .ty-new-list2 .time,
    .ty-new-list3 .time {
      clear: both;
      float: left;
      font-size: 0.9rem;
      line-height: 1.2rem;
      width: 1.5rem;
      margin-left: 2rem;
      padding-top: 2.25rem; }
      .ty-new-list2 .time strong,
      .ty-new-list3 .time strong {
        font-size: 1.2rem;
        margin-top: 0.3rem; }
    .ty-new-list2 .detial,
    .ty-new-list3 .detial {
      float: left;
      width: 23.5rem;
      box-sizing: border-box;
      padding-left: 2.1rem;
      margin-left: 0;
      margin-top: 2rem; }
      .ty-new-list2 .detial h3,
      .ty-new-list3 .detial h3 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        height: 3rem;
        margin-bottom: 0.9rem; }
      .ty-new-list2 .detial p,
      .ty-new-list3 .detial p {
        font-size: 1rem;
        line-height: 1.5rem;
        height: auto;
        max-height: 6rem;
        overflow: hidden; }
      .ty-new-list2 .detial:before,
      .ty-new-list3 .detial:before {
        height: 8.25rem;
        left: 1rem; }

  .ty-new-detial {
    width: 90%;
    margin: 0 auto; }
    .ty-new-detial .ty-title {
      padding: 2rem 0;
      font-size: 26px;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 0rem; }
    .ty-new-detial .left-bar {
      float: none;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 2.5rem; }
      .ty-new-detial .left-bar .time {
        padding: 0.75rem;
        display: inline-block;
        vertical-align: middle;
        font-size: 0.9rem;
        margin-bottom: 0rem; }
        .ty-new-detial .left-bar .time strong {
          font-size: 1.4rem; }
      .ty-new-detial .left-bar .share {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1.5rem;
        width: auto; }
        .ty-new-detial .left-bar .share p {
          display: none; }
        .ty-new-detial .left-bar .share a {
          margin-bottom: 0;
          margin-right: 0.5rem;
          width: 2.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
          border-radius: 50%;
          font-size: 1.25rem; }
    .ty-new-detial .new-main {
      float: none;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-left: 0; }
      .ty-new-detial .new-main p {
        text-indent: 2rem;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 1.5rem; }
      .ty-new-detial .new-main img {
        width: 90%; }
      .ty-new-detial .new-main .img-detial {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin: 0.5rem 0 1.5rem; }

  .ty-guidance {
    padding: 4rem 0;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    .ty-guidance .main {
      padding: 2.5rem 0 0; }
    .ty-guidance .top {
      margin-bottom: 1rem; }
      .ty-guidance .top img {
        display: block;
        width: 100%;
        height: auto; }
    .ty-guidance .r {
      padding: 2rem;
      box-sizing: border-box;
      width: 90%;
      position: static;
      margin: -11rem auto 0; }
      .ty-guidance .r h4 {
        font-size: 1.5rem;
        line-height: 1.6rem;
        margin-bottom: 1.5rem; }
      .ty-guidance .r p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-bottom: 3rem; }

  .ty-recruit,
  .ty-vocation {
    float: none;
    width: 25rem;
    margin: 0 auto 2.5rem; }
    .ty-recruit .ty-title,
    .ty-vocation .ty-title {
      font-size: 2rem; }
    .ty-recruit li,
    .ty-vocation li {
      line-height: 3rem;
      font-size: 1.4rem; }
    .ty-recruit a span,
    .ty-vocation a span {
      margin-right: 0.6rem; }

  .ty-how-connect {
    border-left: 0;
    padding-left: 0;
    float: none;
    width: 80%;
    margin: 0 auto 2.5rem;
    font-size: 1.2rem;
    line-height: 2rem; }
    .ty-how-connect .ty-title {
      font-size: 2rem; }
    .ty-how-connect:after {
      width: 4.75rem;
      height: 0.25rem;
      margin-top: 1.5rem; }
    .ty-how-connect img {
      width: 0.9rem;
      margin-right: 0.6rem; }

  .ty-practice .img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem; }

  .ty-school-student {
    padding: 1.5rem 0 2.5rem; }
    .ty-school-student .boll {
      margin-top: 0;
      position: relative;
      top: -rem(40); }
    .ty-school-student div.student_content {
      padding-top: 2rem; }
    .ty-school-student div.title {
      margin-bottom: 0rem; }
    .ty-school-student .ty-more {
      margin: 0.75rem auto 0; }

  .ty-sport {
    padding: 2.5rem 0;
    width: 100%; }
    .ty-sport .ty-title {
      margin-bottom: 2rem; }
    .ty-sport .left-img {
      width: 100%;
      height: auto;
      display: block;
      position: static; }
    .ty-sport .in {
      padding-top: 0;
      width: 100%;
      margin: 0 auto; }
    .ty-sport .main {
      padding: 2rem;
      width: 90%;
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: -2rem; }
      .ty-sport .main .list {
        width: 100%;
        line-height: 4.2rem;
        margin-bottom: 1rem; }
      .ty-sport .main .item {
        font-size: 1rem;
        height: 4.2rem; }
      .ty-sport .main .time {
        font-size: 1rem;
        margin-right: 2.5rem; }
      .ty-sport .main .ty-more {
        position: static; }

  .add-more {
    padding-top: 0rem;
    padding-bottom: 1rem; } }

/*# sourceMappingURL=styles.css.map */
