/*
Error: Invalid US-ASCII character "\xE7"
        on line 3 of /Users/paul/workspace/cc-4/web-index/styles/styles.scss

1: <<<<<<< HEAD
2: @charset "utf-8";
3: /* svn相对地址 *\/
4: /* 项目下建立文本或者其他说明 本产品的产品及其对接的相关人员 *\/
5: @function rem($px){
6: 	@return $px*(1/25)*1rem;
7: }
8: @import "scss/base";

Backtrace:
/Users/paul/workspace/cc-4/web-index/styles/styles.scss:3
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1048:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1045:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1044:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1044:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:1044:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/util.rb:772:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE7\"\A         on line 3 of /Users/paul/workspace/cc-4/web-index/styles/styles.scss\A \A 1: <<<<<<< HEAD\A 2: @charset \"utf-8\";\A 3: /* svn相对地址 */\A 4: /* 项目下建立文本或者其他说明 本产品的产品及其对接的相关人员 */\A 5: @function rem($px){\A 6: 	@return $px*(1/25)*1rem;\A 7: }\A 8: @import \"scss/base\";"; }
