@charset "UTF-8";
/* svn相对地址 */
/* 项目下建立文本或者其他说明 本产品的产品及其对接的相关人员 */
/**
* Description: Base style 
* Developers: zhiwen <zhiwen@leju.sina.com.cn>
**/
/*RESET
-------------------------------------------------------------- */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, ul, li {
  margin: 0; }

ul, input {
  padding: 0; }

ol, li {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

del, ins {
  text-decoration: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

input, button, textarea, select {
  font-size: 100%; }

q:before, q:after {
  content: ""; }

addr, acronym {
  border: 0;
  font-variant: normal; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  top: -0.5em; }

sup {
  bottom: -0.25em; }

/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after, .index-list-1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .index-list-1 {
  display: inline-block; }

* html .clearfix, * html .index-list-1 {
  height: 1%; }

.clearfix, .index-list-1 {
  display: block; }

/*FONT
-------------------------------------------------------------- */
body {
  font: 12px/1.5 "Arial","\5FAE\8F6F\96C5\9ED1","\5b8b\4f53", sans-serif;
  color: #000;
  background: #fff; }

a {
  color: #000;
  text-decoration: none; }

a:active {
  color: #df1830; }

.fb {
  font-weight: 700; }

.fn {
  font-weight: 400; }

.unl {
  text-decoration: underline; }

.no_unl {
  text-decoration: none; }

/*POSITION
-------------------------------------------------------------- */
.tl {
  text-align: left !important; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.bc {
  margin-left: auto;
  margin-right: auto; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right;
  display: inline; }

.vm {
  vertical-align: middle; }

.vt {
  vertical-align: top; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.abs-right {
  position: absolute;
  right: 0; }

.abs-left {
  position: absolute;
  left: 0; }

.hidden {
  visibility: hidden; }

.none {
  display: none; }

.red_index_main1 h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 1s; }

.an_toTop {
  animation: toTop 0.5s linear 0s;
  -webkit-animation: toTop 0.5s linear 0s;
  -ms-animation: toTop 0.5s linear 0s;
  animation-fill-mode: both;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.an_toBottom {
  animation: toBottom 0.5s linear 0s;
  -webkit-animation: toBottom 0.5s linear 0s;
  -ms-animation: toBottom 0.5s linear 0s;
  animation-fill-mode: both;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.an_show {
  animation: show 0.7s linear 0s;
  -webkit-animation: show 0.7s linear 0s;
  -ms-animation: show 0.7s linear 0s;
  animation-fill-mode: both;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.an_toRight {
  animation: toRight 0.5s linear 0s;
  -webkit-animation: toRight 0.5s linear 0s;
  -ms-animation: toRight 0.5s linear 0s;
  animation-fill-mode: both;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.an_toLeft {
  animation: toLeft 0.5s linear 0s;
  -webkit-animation: toLeft 0.5s linear 0s;
  -ms-animation: toLeft 0.5s linear 0s;
  animation-fill-mode: both;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.an_delay1 {
  animation-delay: 0.1s; }

.an_delay2 {
  animation-delay: 0.2s; }

.an_delay3 {
  animation-delay: 0.3s; }

.an_delay4 {
  animation-delay: 0.4s; }

.an_delay5 {
  animation-delay: 0.5s; }

.an_delay6 {
  animation-delay: 0.6s; }

.an_delay7 {
  animation-delay: 0.7s; }

.an_delay8 {
  animation-delay: 0.8s; }

.an_delay9 {
  animation-delay: 0.9s; }

.an_delay10 {
  animation-delay: 1s; }

.an_delay11 {
  animation-delay: 1.1s; }

.an_delay12 {
  animation-delay: 1.2s; }

.an_delay13 {
  animation-delay: 1.3s; }

.an_delay14 {
  animation-delay: 1.4s; }

.an_delay15 {
  animation-delay: 1.5s; }

.an_delay16 {
  animation-delay: 1.6s; }

.an_delay17 {
  animation-delay: 1.7s; }

.an_delay18 {
  animation-delay: 1.8s; }

.an_delay19 {
  animation-delay: 1.9s; }

.an_delay20 {
  animation-delay: 2s; }

.an_delay21 {
  animation-delay: 2.1s; }

.an_delay22 {
  animation-delay: 2.2s; }

.an_delay23 {
  animation-delay: 2.3s; }

.an_delay24 {
  animation-delay: 2.4s; }

.an_delay25 {
  animation-delay: 2.5s; }

.an_delay26 {
  animation-delay: 2.6s; }

.an_delay27 {
  animation-delay: 2.7s; }

.an_delay28 {
  animation-delay: 2.8s; }

.an_delay29 {
  animation-delay: 2.9s; }

.an_delay30 {
  animation-delay: 3s; }

.an_delay31 {
  animation-delay: 3.1s; }

.an_delay32 {
  animation-delay: 3.2s; }

.an_delay33 {
  animation-delay: 3.3s; }

.an_delay34 {
  animation-delay: 3.4s; }

.an_delay35 {
  animation-delay: 3.5s; }

.an_delay36 {
  animation-delay: 3.6s; }

.an_delay37 {
  animation-delay: 3.7s; }

.an_delay38 {
  animation-delay: 3.8s; }

.an_delay39 {
  animation-delay: 3.9s; }

.an_delay40 {
  animation-delay: 4s; }

@keyframes toTop {
  0% {
    transform: translate3d(0px, 100px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes toTop {
  0% {
    -webkit-transform: translate3d(0px, 100px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes toTop {
  0% {
    -ms-transform: translate3d(0px, 100px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -ms-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes toBottom {
  0% {
    transform: translate3d(0px, -100px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes toBottom {
  0% {
    -webkit-transform: translate3d(0px, -100px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes toBottom {
  0% {
    -ms-transform: translate3d(0px, -100px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -ms-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes toRight {
  0% {
    transform: translate3d(-100px, 0px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes toRight {
  0% {
    -webkit-transform: translate3d(-100px, 0px, 0px);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes toRight {
  0% {
    -ms-transform: translate3d(-100px, 0px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -ms-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes toLeft {
  0% {
    transform: translate3d(100px, 0px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes toLeft {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes toLeft {
  0% {
    -ms-transform: translate3d(100px, 0px, 0);
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    -ms-transform: translate3d(0px, 0px, 0);
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes show {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes show {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
@-ms-keyframes show {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }
.oh {
  overflow: hidden; }

.bg-2 {
  background-color: #f0f0f0; }

.bg-3 {
  padding-bottom: 0; }

body {
  font-family: "微软雅黑";
  padding-bottom: 1.3333333333rem; }

.index-header {
  position: relative; }
  .index-header img {
    display: block;
    width: 100%; }
  .index-header p {
    position: absolute;
    top: 6.3333333333rem;
    left: 3.3333333333rem;
    font-weight: bold;
    color: #fff;
    font-size: 2.1666666667rem;
    line-height: 1.2; }
  .index-header h1 {
    position: absolute;
    bottom: 5.6666666667rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 0.3333333333rem #159cdb;
    letter-spacing: 0.1rem; }
    .index-header h1 i {
      position: absolute;
      left: 0;
      top: 3.5rem;
      display: block;
      width: 100%;
      height: 0.2rem;
      background-image: url(../images/line.png);
      background-size: 100% 100%; }

.menu {
  width: 2.5rem;
  height: 1.3666666667rem;
  background-image: url(../images/back.png);
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 1.7333333333rem;
  right: 1.8666666667rem; }
  .menu ul {
    display: block;
    position: absolute;
    width: 7.3rem;
    height: 8.9rem;
    top: 1.6666666667rem;
    left: -3.8333333333rem;
    background-image: url(../images/tan-bg.png);
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 1.3333333333rem 0.3333333333rem 0; }
  .menu li {
    line-height: 2.1333333333rem;
    width: 4.1333333333rem;
    margin: 0 auto;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    color: #595757;
    text-align: center; }
    .menu li:last-child {
      border-bottom: 0; }
  .menu .share {
    display: inline-block;
    vertical-align: middle;
    width: 0.7rem;
    height: 0.6rem;
    background-image: url(../images/jiantou.png);
    background-size: 100% 100%; }

.index-list-1 {
  width: 20rem;
  margin: 0 auto 1rem;
  padding-top: 0.5333333333rem; }
  .index-list-1 li {
    float: left;
    width: 33.33%;
    font-size: 0.7333333333rem;
    color: #002743;
    text-align: center; }
  .index-list-1 img {
    display: block;
    margin: 0 auto;
    height: 3.3333333333rem;
    margin-bottom: 0.6666666667rem; }

.index-list-2 {
  width: 22rem;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 0.3333333333rem rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 1rem 0.5rem 0; }
  .index-list-2 li {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    height: 5.3333333333rem;
    overflow: hidden;
    position: relative; }
    .index-list-2 li a {
      display: block; }
    .index-list-2 li img {
      float: left;
      width: 3.3333333333rem;
      padding-top: 1.1rem;
      margin: 0 1.1333333333rem; }
    .index-list-2 li p {
      float: left;
      padding-top: 1.5rem;
      font-size: 1.1333333333rem;
      color: #002743; }
      .index-list-2 li p span {
        display: block;
        font-size: 0.6666666667rem;
        color: #c9caca;
        line-height: 0.8rem; }
      .index-list-2 li p:after {
        content: '';
        display: block;
        width: 0.6rem;
        height: 1.1rem;
        position: absolute;
        top: 2.3333333333rem;
        right: 1.0666666667rem;
        background-size: 100% 100%;
        background-image: url(../images/blue-jian.png); }
  .index-list-2 .logo img {
    display: block;
    margin: 2.2666666667rem auto 0;
    padding-bottom: 1.6rem;
    width: 6.8666666667rem;
    height: 2.5666666667rem; }

.second-header .bg {
  display: block;
  width: 100%;
  height: 28.3333333333rem; }
.second-header .back img {
  display: block;
  position: absolute;
  left: 0;
  top: 3.3333333333rem;
  width: 3.6666666667rem;
  height: 1.6666666667rem;
  box-shadow: 0px 0.1rem 0.2333333333rem 0px rgba(4, 0, 0, 0.13); }
.second-header h2 {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 5.6666666667rem;
  font-size: 2rem;
  color: white;
  text-align: center; }
.second-header p {
  position: absolute;
  left: 2.5rem;
  top: 10.0666666667rem;
  text-align: justify;
  width: 20rem;
  font-size: 0.7rem;
  color: white;
  line-height: 1.2rem;
  white-space: nowrap; }
.second-header .list-bac {
  width: 19rem;
  height: auto;
  position: absolute;
  left: 3.2666666667rem;
  top: 14.0666666667rem; }
.second-header .strong {
  width: 4.2666666667rem;
  font-size: 1rem;
  color: #e29b79;
  display: block;
  position: absolute;
  left: 3.3333333333rem;
  top: 22.2rem; }
.second-header .list-points {
  width: 6.6666666667rem;
  line-height: 2.7rem;
  font-size: 0.8666666667rem;
  color: white;
  position: absolute;
  top: 13.6333333333rem;
  left: 14.6666666667rem;
  text-align: center; }

.search-bar {
  height: 3.6666666667rem;
  box-shadow: 0px 2px 0.2333333333rem -2px rgba(29, 7, 6, 0.84) inset;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #fff;
  margin-top: -0.5rem;
  position: relative;
  z-index: 3; }
  .search-bar input {
    width: 16.5rem;
    height: 1.6666666667rem;
    box-shadow: 0px 0.1rem 0.2333333333rem 0px rgba(4, 0, 0, 0.08);
    background: #dbdbdb;
    line-height: 1.6666666667rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 1.6666666667rem;
    margin: 1.2rem 0 0 2.8rem;
    outline: none;
    padding: 0 1rem; }
  .search-bar button {
    border: 0;
    outline: none;
    width: 1.9666666667rem;
    height: 1.9666666667rem;
    display: block;
    position: absolute;
    background-image: url(../images/疾病风险切图/1search.png);
    background-size: 100% 100%;
    background-color: #fff;
    right: 2.8333333333rem;
    top: 1.0666666667rem; }

.list-all {
  overflow: hidden;
  background: #e8e8e8; }
  .list-all .th {
    width: 100%;
    height: 1.5333333333rem;
    line-height: 1.5333333333rem;
    background: #e8e8e8;
    font-size: 0.6rem;
    color: rgba(35, 24, 21, 0.8); }
  .list-all span:first-child {
    margin: 0 11.6666666667rem 0 6.5333333333rem; }
  .list-all .left {
    width: 21.333%;
    float: left; }
    .list-all .left li {
      height: 1.9333333333rem;
      font-size: 0.6rem;
      color: rgba(35, 24, 21, 0.8);
      line-height: 2.0666666667rem;
      overflow: hidden;
      padding: 0 0.6666666667rem; }
    .list-all .left .active {
      background: #fff; }
  .list-all .right-detial {
    background: #fff;
    width: 78.666%;
    float: left;
    display: none; }
    .list-all .right-detial .right {
      display: none; }
      .list-all .right-detial .right.active {
        display: block; }
    .list-all .right-detial.active {
      display: block; }
    .list-all .right-detial ul {
      max-height: 28.8rem;
      min-height: 14.4rem;
      overflow-y: scroll; }
    .list-all .right-detial li {
      width: 16.6666666667rem;
      line-height: 2.4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      white-space: nowrap;
      padding-left: 0.9rem;
      margin-left: 0.4333333333rem;
      font-size: 0.8rem;
      color: #231815;
      overflow: hidden;
      position: relative; }
      .list-all .right-detial li.active {
        background: rgba(217, 248, 253, 0.5); }
      .list-all .right-detial li span {
        display: block;
        float: right;
        color: #2E77C3;
        margin-right: 0.3333333333rem; }
      .list-all .right-detial li strong {
        float: left;
        width: 13.3333333333rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .list-all .right-detial li:before {
        content: '';
        width: 0.3333333333rem;
        height: 0.3333333333rem;
        display: block;
        position: absolute;
        left: 0.0666666667rem;
        top: 1.0333333333rem;
        background-size: 100% 100%; }
    .list-all .right-detial a {
      display: block; }
    .list-all .right-detial .red:before {
      background-image: url(../images/redpiont.png); }
    .list-all .right-detial .red span {
      color: #F28C83; }
    .list-all .right-detial .blue:before {
      background-image: url(../images/bluepiont.png); }
    .list-all .right-detial .blue span {
      color: #2E77C3; }

.second-header-2 .bg {
  display: block;
  width: 100%; }
.second-header-2 .back img {
  width: 3.3333333333rem;
  position: absolute;
  top: 3.3333333333rem;
  left: 0; }
.second-header-2 .icon {
  position: absolute;
  width: 4.3333333333rem;
  left: 1.8666666667rem;
  top: 5.9666666667rem; }
.second-header-2 h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 0.3333333333rem #000;
  position: absolute;
  top: 6rem;
  left: 6.6666666667rem; }
.second-header-2 p {
  font-size: 0.8666666667rem;
  color: white;
  position: absolute;
  top: 9rem;
  left: 6.6666666667rem; }

.second-2-con .top {
  background: #f0f0f0;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0px 2px 0.3333333333rem 0.0666666667rem rgba(29, 7, 6, 0.4) inset;
  margin-top: -1.8666666667rem;
  height: 5.6666666667rem;
  position: relative;
  z-index: 5; }
  .second-2-con .top img {
    position: absolute;
    width: 2.4666666667rem;
    top: 1.6rem;
    left: 2.2666666667rem; }
  .second-2-con .top h3 {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(35, 24, 21, 0.8);
    position: absolute;
    left: 5.6666666667rem;
    top: 3.5rem; }
.second-2-con .con ul {
  padding: 0 2.3333333333rem;
  max-height: 41.3333333333rem;
  overflow: scroll; }
.second-2-con .con li {
  height: 4.1333333333rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .second-2-con .con li::before {
    content: '';
    width: 0.3333333333rem;
    height: 0.3333333333rem;
    display: block;
    position: absolute;
    left: -1.0333333333rem;
    top: 1.9rem;
    background-image: url(../images/bluepiont.png);
    background-size: 100% 100%; }
.second-2-con .con span {
  position: absolute;
  left: 0.8666666667rem;
  top: 50%;
  font-size: 0.9333333333rem;
  line-height: 1.2rem;
  transform: translateY(-50%);
  width: 11.6666666667rem;
  color: #231815; }
.second-2-con .con em {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4.6666666667rem;
  display: block;
  font-size: 0.9333333333rem;
  line-height: 1.2rem;
  color: black; }
.second-2-con .con i {
  display: block;
  position: absolute;
  left: 13.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.9333333333rem;
  background-image: url(../images/jiantou2.png);
  background-size: 100% 100%; }
.second-2-con .con .red i {
  background-image: url(../images/zong-jian.png); }
.second-2-con .con .red em {
  color: #f28c83; }
.second-2-con .con .red::before {
  background-image: url(../images/redpiont.png); }

.medication {
  overflow: hidden; }
  .medication .left {
    width: 33.33%;
    float: left;
    background: #f0f0f0;
    padding-bottom: 100000px;
    margin-bottom: -100000px; }
    .medication .left li {
      height: 2.1333333333rem;
      font-size: 0.6rem;
      color: rgba(35, 24, 21, 0.8);
      line-height: 2.1333333333rem;
      overflow: hidden;
      padding: 0 0.6666666667rem;
      text-align: center; }
    .medication .left .active {
      background: #fff; }
  .medication .right-detial {
    background: #fff;
    width: 66.66%;
    float: left;
    display: none; }
    .medication .right-detial .right {
      display: none; }
      .medication .right-detial .right.active {
        display: block; }
    .medication .right-detial.active {
      display: block; }
    .medication .right-detial ul {
      max-height: 28.8rem;
      min-height: 14.4rem;
      padding-left: 0.3333333333rem;
      overflow-y: scroll; }
    .medication .right-detial li {
      width: 15.6666666667rem;
      line-height: 2.4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      white-space: nowrap;
      padding-left: 1.3333333333rem;
      font-size: 0.8rem;
      color: #231815;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      margin-bottom: 0.2rem;
      background-image: url(../images/安全切图/xuanxiang.png);
      background-size: 100% 100%;
      box-shadow: 0.0666666667rem 0.0666666667rem 0.1rem rgba(0, 0, 0, 0.15); }
      .medication .right-detial li.active {
        background: rgba(144, 246, 197, 0.4); }
        .medication .right-detial li.active i {
          opacity: .7; }
      .medication .right-detial li:last-child {
        margin-bottom: 0; }
      .medication .right-detial li em {
        display: block;
        float: right;
        color: #2E77C3;
        margin-right: 0.3333333333rem; }
      .medication .right-detial li strong {
        float: left;
        width: 13.3333333333rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .medication .right-detial li:before {
        content: '';
        width: 0.3333333333rem;
        height: 0.3333333333rem;
        display: block;
        position: absolute;
        left: 0.4333333333rem;
        top: 1.0333333333rem;
        background-size: 100% 100%; }
      .medication .right-detial li i {
        float: right;
        width: 0.5rem;
        height: 0.9333333333rem;
        background-image: url(../images/jiantou2.png);
        background-size: 100% 100%;
        margin: 0.6666666667rem 0.6666666667rem 0 0; }
    .medication .right-detial a {
      display: block; }
    .medication .right-detial .red:before {
      background-image: url(../images/redpiont.png); }
    .medication .right-detial .red em {
      color: #F28C83; }
    .medication .right-detial .red i {
      background-image: url(../images/zong-jian.png); }
    .medication .right-detial .blue:before {
      background-image: url(../images/bluepiont.png); }
    .medication .right-detial .blue em {
      color: #2E77C3; }
    .medication .right-detial .gray:before {
      background-image: url(../images/blackpiont.png); }
    .medication .right-detial .gray em {
      color: #5e5958; }

.third-header {
  margin-bottom: 2rem; }
  .third-header img {
    display: block;
    width: 100%; }
  .third-header .back img {
    width: 3.3333333333rem;
    position: absolute;
    top: 3.3333333333rem;
    left: 0; }
  .third-header h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 0.3333333333rem #b8903b;
    position: absolute;
    top: 5rem;
    left: 0; }
  .third-header p {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 8rem;
    letter-spacing: 0.0666666667rem;
    left: 0;
    font-size: 1.1rem;
    color: white; }

.get-res {
  width: 22rem;
  margin: 0 auto;
  height: auto;
  box-shadow: 0px 1rem 0.6333333333rem 0.0333333333rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0.6666666667rem;
  border-radius: 1rem;
  margin-bottom: 2.6666666667rem;
  background: #fff; }
  .get-res .in {
    box-sizing: border-box;
    border: 0.3333333333rem solid #789ecf;
    border-radius: 1rem;
    padding: 0.6666666667rem 1.3333333333rem; }
  .get-res .p1 {
    font-size: 1.0666666667rem;
    color: #595757;
    margin-bottom: 1rem; }
  .get-res strong {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 0.3333333333rem #0862b0; }
  .get-res .p2 {
    font-size: 0.9333333333rem;
    color: #898989;
    line-height: 1.1333333333rem; }
  .get-res .in.red {
    border-color: #eac4a8; }
    .get-res .in.red strong {
      text-shadow: 0 0 0.3333333333rem #dc6203; }

.report-div {
  width: 22rem;
  box-shadow: 0px 0.6666666667rem 0.6333333333rem 0.0333333333rem rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 1rem;
  margin: 0 auto 2.6666666667rem;
  overflow: hidden;
  background: #fff; }

.report-title {
  background: linear-gradient(to right, rgba(239, 181, 25, 0.2) 50%, #fff);
  height: 2.4333333333rem;
  line-height: 2.4333333333rem;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2.6666666667rem; }
  .report-title i {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: middle;
    background-size: 100% 100%; }
  .report-title span {
    font-size: 1.3333333333rem;
    color: #9fa0a0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.6666666667rem; }
  .report-title em {
    font-size: 0.6666666667rem;
    color: #9fa0a0;
    display: inline-block;
    vertical-align: -0.3333333333rem;
    margin-left: 0.2rem; }

.sport-text, .sport-text-2 {
  display: block;
  width: 18.6666666667rem;
  font-size: 1rem;
  color: #9fa0a0;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 1rem 0; }
  .sport-text p, .sport-text-2 p {
    margin-bottom: 0.8rem; }
    .sport-text p:last-child, .sport-text-2 p:last-child {
      margin-bottom: 0; }

.report-div-2 {
  margin-bottom: 0.3333333333rem; }

.report-title-2 {
  font-size: 1rem;
  color: #9fa0a0;
  line-height: 1.5666666667rem;
  padding-left: 3rem; }

.sport-text-2 {
  font-size: 0.7333333333rem; }

.btn {
  width: 22rem;
  height: 3.3333333333rem;
  line-height: 3.3333333333rem;
  font-size: 1.5333333333rem;
  color: #9fa0a0;
  display: block;
  margin: 0 auto 1.6666666667rem;
  background: linear-gradient(to right, #f4e6ad, #edc98f);
  border-radius: 0.8333333333rem;
  text-align: center;
  box-shadow: 0px 0.6666666667rem 0.6333333333rem 0.0333333333rem rgba(0, 0, 0, 0.15); }

.sport-table {
  width: 16.5rem;
  margin: 0 auto;
  padding: 0.5rem 0 1rem; }
  .sport-table .tr {
    width: 100%;
    overflow: hidden;
    text-align: center; }
    .sport-table .tr:first-child {
      line-height: 1.6666666667rem;
      height: 1.6666666667rem; }
  .sport-table .th span {
    height: 0.9333333333rem;
    line-height: 0.9333333333rem;
    display: inline-block;
    padding: 0 0.4rem;
    font-size: 0.6666666667rem;
    border-radius: 0.4rem;
    color: #fff;
    background: #f6be8b; }
  .sport-table .th,
  .sport-table .td {
    float: left;
    display: block;
    font-size: 0.6333333333rem;
    color: #898989;
    line-height: 1.1666666667rem; }
    .sport-table .th:first-child,
    .sport-table .td:first-child {
      width: 5.6666666667rem; }
    .sport-table .th:nth-child(2),
    .sport-table .td:nth-child(2) {
      width: 6.5rem; }
    .sport-table .th:nth-child(3),
    .sport-table .td:nth-child(3) {
      width: 3.7666666667rem; }
  .sport-table .red {
    color: #d36049; }

.third-header-2 img {
  display: block;
  width: 100%; }
.third-header-2 h3 {
  display: block;
  position: absolute;
  font-size: 2.5333333333rem;
  color: white;
  left: 5rem;
  top: 5.3333333333rem; }
.third-header-2 p {
  font-size: 1.4666666667rem;
  color: white;
  display: block;
  position: absolute;
  left: 5rem;
  top: 9rem; }
.third-header-2::after {
  content: '';
  display: block;
  width: 0.4666666667rem;
  height: 4.7333333333rem;
  position: absolute;
  top: 5.9rem;
  left: 4.0666666667rem;
  background-image: url(../images/疾病风险切图/2red-line.png);
  background-size: 100% 100%;
  z-index: 3;
  opacity: .6; }

.style-green .report-title {
  background: linear-gradient(to right, rgba(76, 201, 152, 0.2) 50%, #fff); }
.style-green .sport-table .th span {
  background: #b4d5cc; }
.style-green .btn {
  color: #fff;
  background: linear-gradient(to right, #8fd480, #5aa14b); }
.style-green .third-header h3 {
  text-shadow: 0 0 0.3333333333rem #006e2f; }

.style-blue {
  background-image: url(../images/2blue-bg.png);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat; }
  .style-blue .report-title {
    background: linear-gradient(to right, rgba(89, 194, 255, 0.3) 50%, #fff); }
  .style-blue .sport-table .th span {
    background: #83a0ea; }
  .style-blue .btn {
    color: #fff;
    background: linear-gradient(to right, #0197da, #033f74); }

.style-red {
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url(../images/2blue-bg.png); }
  .style-red .report-title {
    background: linear-gradient(to right, rgba(231, 31, 25, 0.2) 50%, #fff); }
  .style-red .sport-table .th span {
    background: #fb9895; }
  .style-red .btn {
    color: #fff;
    background: linear-gradient(to right, #f6722b, #f6a960); }

.about-yellow {
  background-image: url(../images/单基因切图/2-1icon1.png); }

.know-yellow {
  background-image: url(../images/单基因切图/2-1icon2.png); }

.site-yellow {
  background-image: url(../images/单基因切图/2-1icon3.png); }

.slove-yellow {
  background-image: url(../images/单基因切图/2-1icon4.png); }

.about-green {
  background-image: url(../images/安全切图/1icon1.png); }

.know-green {
  background-image: url(../images/安全切图/1icon2.png); }

.site-green {
  background-image: url(../images/安全切图/1icon3.png); }

.slove-green {
  background-image: url(../images/安全切图/1icon4.png); }

.about-blue {
  background-image: url(../images/疾病风险切图/2blue-icon1.png); }

.factor-blue {
  background-image: url(../images/疾病风险切图/2blue-icon2.png); }

.advice-blue {
  background-image: url(../images/疾病风险切图/2blue-icon3.png); }

.site-blue {
  background-image: url(../images/疾病风险切图/2blue-icon4.png); }

.basic-blue {
  background-image: url(../images/疾病风险切图/2blue-icon5.png); }

.about-red {
  background-image: url(../images/疾病风险切图/2red-icon1.png); }

.factor-red {
  background-image: url(../images/疾病风险切图/2red-icon2.png); }

.advice-red {
  background-image: url(../images/疾病风险切图/2red-icon3.png); }

.site-red {
  background-image: url(../images/疾病风险切图/2red-icon4.png); }

.basic-red {
  background-image: url(../images/疾病风险切图/2red-icon5.png); }

.line-con {
  padding-top: 0.4rem;
  overflow: hidden; }
  .line-con .num-data {
    float: left;
    padding-left: 5rem; }
    .line-con .num-data li {
      display: block;
      font-size: 0.5666666667rem;
      line-height: 1;
      color: #9fa0a0;
      margin-bottom: 2.6666666667rem; }
      .line-con .num-data li:last-child {
        margin-bottom: 0; }
  .line-con .data-pic {
    background: #e2e3e3;
    border-radius: 0.6666666667rem;
    overflow: hidden;
    float: left;
    margin-left: 1rem;
    width: 3.5rem;
    height: 13.3333333333rem;
    box-shadow: inset 0 0 0.6666666667rem rgba(0, 0, 0, 0.5);
    position: relative; }
    .line-con .data-pic:after {
      content: '';
      position: absolute;
      left: 0;
      top: 75%;
      height: 0.1333333333rem;
      margin-top: -0.1333333333rem;
      width: 100%;
      background: #f48a00;
      z-index: 9; }
    .line-con .data-pic em {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0; }
      .line-con .data-pic em::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 3.3333333333rem;
        height: 10000px;
        background-image: url(../images/zhu-line-1.png);
        background-size: 100% auto;
        background-position: center 3.3333333333rem; }
    .line-con .data-pic img {
      display: block;
      width: 100%;
      position: relative;
      z-index: 3; }
    .line-con .data-pic span {
      display: block;
      width: 100%;
      position: absolute;
      text-align: center;
      bottom: 0;
      left: 0;
      font-size: 1.3333333333rem;
      color: white;
      z-index: 5; }

.third-data {
  padding-bottom: 3.6666666667rem; }
  .third-data strong {
    display: block;
    position: absolute;
    left: 12.9rem;
    top: 22.8333333333rem;
    font-size: 2.0666666667rem;
    color: #f1652d; }
    .third-data strong span {
      font-size: 2.7333333333rem; }
  .third-data .big {
    position: absolute;
    left: 12.9rem;
    top: 27rem;
    font-size: 2.2rem;
    color: #9fa0a0; }
  .third-data .en {
    position: absolute;
    left: 12.9rem;
    top: 30rem;
    font-size: 1.4rem;
    color: #9fa0a0; }

.style-blue .third-data .data-pic em:after {
  background-image: url(../images/zhu-line-2.png); }
.style-blue strong {
  color: #12235e; }

.report-new-tabs {
  background: linear-gradient(-90deg, rgba(255, 192, 162, 0.1) 0%, rgba(255, 165, 123, 0.1) 100%);
  height: 2.6666666667rem;
  line-height: 2.6666666667rem;
  overflow: hidden;
  border-radius: 0.6666666667rem 0.6666666667rem 0 0; }
  .report-new-tabs span {
    background: #FEE3D6;
    float: left;
    width: 50%;
    text-align: center; }
  .report-new-tabs em {
    font-size: 1.2rem;
    font-weight: 600;
    color: #010101;
    background: linear-gradient(-90deg, #ffa57b 0%, #ff7f46 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .report-new-tabs .active {
    background: transparent; }

.report-new-tabs-box {
  display: none; }
  .report-new-tabs-box.active {
    display: block; }

.rec-food {
  padding: 1.2rem;
  color: #45875E;
  font-size: 0.8333333333rem;
  color: #000; }
  .rec-food .top {
    overflow: hidden;
    margin-bottom: 1.3333333333rem; }
    .rec-food .top strong {
      margin-bottom: 0.6666666667rem;
      display: block;
      font-weight: bold; }
    .rec-food .top p {
      width: 12rem;
      float: right; }
  .rec-food img {
    float: left;
    width: 6.1666666667rem;
    height: 6.1666666667rem;
    border-radius: 6.1666666667rem; }

.report-bottom-btn {
  display: block;
  width: 17.3333333333rem;
  text-align: center;
  height: 2.1666666667rem;
  line-height: 2.1666666667rem;
  background: white;
  box-shadow: 0px 0.1333333333rem 0.3333333333rem 0px rgba(115, 115, 115, 0.1);
  font-size: remn(36);
  color: #4d4d4d;
  overflow: hidden;
  margin: 0 auto 2.3333333333rem;
  border-radius: 2.1666666667rem; }

.mt70 {
  margin-top: 70px; }

.fat-report .sport-show .r .progress span:first-child.active {
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%); }
.fat-report .sport-show .r .progress span:last-child.active {
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%); }
.fat-report .sport-show .r .progress-3 span:nth-child(2).active {
  background: linear-gradient(90deg, #c1e49b 0%, #7cd591 100%); }
.fat-report .sport-progress.style-1 p span:first-child {
  color: #000; }
.fat-report .sport-progress.style-1 .line .self-progress {
  margin-left: 0;
  color: #fff;
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%);
  width: 50%; }
.fat-report .sport-progress.style-2 p span:nth-child(2) {
  color: #000; }
.fat-report .sport-progress.style-2 .line .self-progress {
  margin-left: 50%;
  color: #fff;
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%);
  width: 50%; }
.fat-report .sport-progress-2.style-1 p span:first-child {
  color: #000; }
.fat-report .sport-progress-2.style-1 .line .self-progress {
  margin-left: 0;
  color: #fff;
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%);
  width: 33.33%; }
.fat-report .sport-progress-2.style-2 p span:nth-child(2) {
  color: #000; }
.fat-report .sport-progress-2.style-2 .line .self-progress {
  margin-left: 33.33%;
  color: #fff;
  background: linear-gradient(90deg, #c1e49b 0%, #7cd591 100%);
  width: 33.33%; }
.fat-report .sport-progress-2.style-3 p span:last-child {
  color: #000; }
.fat-report .sport-progress-2.style-3 .line .self-progress {
  margin-left: 66.66%;
  color: #fff;
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%);
  width: 33.33%; }

.fat-report .report-header h1 {
  color: #62b9c2;
  background: linear-gradient(0deg, #62b9c2 0%, #62b9c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.fat-report .report-title {
  background: #b9ede9; }
  .fat-report .report-title span {
    background: linear-gradient(0deg, #62b9c2 0%, #62b9c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.fat-report .sport-table .tr {
  background: #f0fdff; }
  .fat-report .sport-table .tr:first-child {
    background: linear-gradient(-90deg, #3aeec1, #2bdbaf); }
.fat-report p.sp-1 {
  color: #62b9c2;
  text-align: left;
  margin-bottom: 0;
  padding-top: 1.6666666667rem; }
.fat-report p.sp-2 em {
  color: rgba(49, 186, 80, 0.8);
  text-align: center; }
.fat-report .open-div h2 {
  color: #25a692;
  background: linear-gradient(-90deg, rgba(58, 238, 193, 0.15), rgba(43, 219, 175, 0.15)); }
  .fat-report .open-div h2 i {
    background-image: url(../images/new/4-up.png); }

.magic-report .report-header h1 {
  color: #010101;
  background: linear-gradient(-90deg, #ee3adf 0.9765625%, #db2bd1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.magic-report .report-title {
  background: #fdf1fc; }
  .magic-report .report-title span {
    background: linear-gradient(-90deg, #ee3adf 0.9765625%, #db2bd1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.magic-report .sport-table .tr {
  background: #fff2fd; }
  .magic-report .sport-table .tr:first-child {
    background: linear-gradient(-90deg, #ee9edc, #f1b1e9); }
.magic-report p.sp-1 {
  color: #ff6fd2;
  text-align: left; }
.magic-report p.sp-2 em {
  color: #ff6fd2;
  text-align: center; }
.magic-report .open-div h2 {
  color: #ff6fd2;
  background: #fff2fd; }
  .magic-report .open-div h2 i {
    background-image: url(../images/new/4-up.png); }

.allergy-report .progress-ing .progress-1,
.allergy-report .progress-ing .progress-2 {
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%); }
.allergy-report .progress-ing .progress-3 {
  background: linear-gradient(90deg, #c1e49b 0%, #7cd591 100%); }
.allergy-report .progress-ing .progress-4 {
  background: linear-gradient(90deg, #FFF08C 0%, #FFD572 100%); }
.allergy-report .progress-ing .progress-5 {
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%); }

.allergy-report .sport-show .r h3 em {
  float: right;
  padding-right: 0.6666666667rem; }
.allergy-report .report-header h1 {
  color: #62b9c2;
  background: linear-gradient(0deg, #f2cd15 0%, #ecb906 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.allergy-report .report-title {
  background: #fefff4; }
  .allergy-report .report-title span {
    background: linear-gradient(0deg, #f2cd15 0%, #ecb906 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.allergy-report .sport-table .tr {
  background: #fffde7; }
  .allergy-report .sport-table .tr:first-child {
    background: linear-gradient(-90deg, #fff494, #eae32e); }
.allergy-report p.sp-1 {
  color: #fdb84a; }
.allergy-report p.sp-2 em {
  color: #fdb84a;
  text-align: center; }
.allergy-report .open-div h2 {
  color: #25a692;
  background: linear-gradient(-90deg, rgba(58, 238, 193, 0.15), rgba(43, 219, 175, 0.15)); }
  .allergy-report .open-div h2 i {
    background-image: url(../images/new/4-up.png); }
.allergy-report .second-precent .in {
  background: linear-gradient(-45deg, #ffce85 0%, #fcb33d 100%); }
  .allergy-report .second-precent .in button {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    text-shadow: 0.0666666667rem 0.1rem 0.3333333333rem rgba(255, 136, 159, 0.5);
    background: transparent;
    height: auto;
    line-height: 1; }

.sleep-report .progress-ing span {
  text-align: right;
  box-sizing: border-box;
  padding-right: 1.2rem; }
.sleep-report .line .self-progress {
  text-align: right;
  box-sizing: border-box;
  padding-right: 1.2rem;
  color: #fff;
  line-height: 1.333rem;
  font-size: 0.75rem; }
.sleep-report .progress-ing .progress-1,
.sleep-report .line .progress-1 {
  width: 33%;
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%); }
.sleep-report .progress-ing .progress-2,
.sleep-report .line .progress-2 {
  width: 66%;
  background: linear-gradient(90deg, #c1e49b 0%, #7cd591 100%); }
.sleep-report .progress-ing .progress-3,
.sleep-report .line .progress-3 {
  width: 100%;
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%); }

.sleep-report .report-header h1 {
  color: #010101;
  background: linear-gradient(-90deg, #25ab8a 0.9765625%, #23c099 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.sleep-report .report-title {
  background: linear-gradient(-90deg, rgba(58, 238, 193, 0.15), rgba(43, 219, 175, 0.15)); }
  .sleep-report .report-title span {
    background: linear-gradient(-90deg, #25ab8a 0.9765625%, #23c099 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.sleep-report .sport-table .tr {
  background: #f0fdff; }
  .sleep-report .sport-table .tr:first-child {
    background: linear-gradient(-90deg, #3aeec1, #2bdbaf); }
.sleep-report p.sp-1 {
  color: #6CD062;
  text-align: left;
  margin-bottom: 0;
  padding-top: 1.3333333333rem; }
.sleep-report p.sp-2 em {
  color: rgba(49, 186, 80, 0.8);
  text-align: center; }
.sleep-report .open-div h2 {
  color: #25a692;
  background: linear-gradient(-90deg, rgba(58, 238, 193, 0.15), rgba(43, 219, 175, 0.15)); }
  .sleep-report .open-div h2 i {
    background-image: url(../images/new/4-up.png); }

.nutrition-report .self-progress.w1 {
  width: 20%;
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%); }

.nutrition-report .self-progress.w2 {
  width: 40%;
  background: linear-gradient(90deg, #8cddff 0%, #71c8ff 100%); }

.nutrition-report .self-progress.w3 {
  width: 60%;
  background: linear-gradient(90deg, #c1e49b 0%, #7cd591 100%); }

.nutrition-report .self-progress.w4 {
  width: 80%;
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%); }

.nutrition-report .self-progress.w5 {
  width: 100%;
  background: linear-gradient(90deg, #ffa57b 0%, #ff8b7b 100%); }

.logo2 {
  left: 8.5rem; }

/*# sourceMappingURL=styles.css.map */
