@charset "utf-8";

.for-mobile {
  display: none;
}

@media screen and (min-width:1px) and (max-width:1019px) {
  body {
    padding-top: rem(80);
    min-width: 100% !important;

    .pc {
      display: none;
    }

    .serach-div {
      display: none;
    }

    .news-detail .container-2 {
      height: auto;
    }

    .container {
      width: 100%;
    }

    .header_top {
      display: none;
    }

    .search-inp {
      display: none;
    }

    .nav {

      width: 100%;
      height: rem(0);
      position: relative;
      z-index: 13;
      background: #fff;

      &:before {
        height: rem(80);
      }

      .nav-top {
        height: rem(80);
        position: fixed;
        top: 0;
        left: 0;
      }

      .brand {
        width: auto;
        height: rem(80);
        line-height: rem(80);
        background: #fff;
        box-shadow: 0 rem(10) rem(10) rgba(0, 0, 0, 0.1);

        .m,
        .r {
          display: none;
        }

        .l {
          display: inline-block;
          margin: 0 0 0 1rem;
          height: 75%;
          width: auto;
        }

        &:after {
          right: rem(-100);
          height: rem(80);
        }
      }

      .in {
        width: 100% !important;
      }


      .nav_list {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(18, 58, 88, .8);
        line-height: rem(50);
        z-index: 11;
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-top: 1px solid rgba(224, 224, 224, .95);
        padding: 5rem 0 0;
        margin-left: 0;

        a {
          float: none;
          width: 100%;
          display: block;
          text-align: center;
          margin: 0;
          border-bottom: 1px solid rgba(255, 255, 255, .1);
          font-size: rem(30);
          text-align: center;
          line-height: rem(80);
          color: rgba(255, 255, 255, .8);
          text-indent: 1rem;
          padding-left: 0;

          &:first-child {
            padding-left: 0;
          }
        }

        .active {
          background: rgba(184, 153, 115, 1);
          border-bottom: 0;
        }

        .close {
          display: block;
          position: absolute;
          right: rem(20);
          top: 1.2rem;
          font-size: rem(60);
          color: #E0E0E0;
          font-style: normal;
        }
      }

      .aside {
        width: 100%;
        height: rem(80);
        top: rem(80);
        right: rem(-18);

        img {
          height: rem(80);
        }
      }

      .menu {
        display: block;
        position: absolute;
        top: rem(15);
        right: rem(15);
        width: rem(50);
        height: rem(50);
        line-height: rem(50);
        font-style: normal;
        font-size: rem(50);
        box-sizing: border-box;
        background-size: 100% 100%;
        color: rgba(171, 132, 85, 1);
      }
    }

    .carousel {
      .swiper-container {
        min-width: 100%;
        height: 16rem;

        .swiper-slide {
          min-width: 100%;

          .center {
            bottom: rem(70);
            width: rem(400);
            height: auto;
            background-image: none;
            font-size: rem(28);
            color: rgba(255, 255, 255, 1);
            line-height: rem(36);
            padding: rem(10) rem(12);
            left: 50%;
            transform: translateX(-50%);
            background: rgba(171, 132, 85, .8);
            border-bottom: 0;

            &:after {
              display: none;
            }

            span {
              position: static;
              width: 100%;
              transform: translateY(0);
            }
          }
        }

        .left {
          position: absolute;
          top: auto;
          bottom: 0;
          width: rem(80);
          height: rem(80);
          background-size: 100% 100%;
        }

        .right {
          position: absolute;
          top: auto;
          bottom: 0;
          width: rem(80);
          height: rem(80);
          background-size: 100% 100%;
        }

        // 分页器
        #center {
          bottom: rem(20) !important;

          .swiper-pagination-bullet {
            width: rem(12);
            height: rem(12);
            margin: 0 rem(8);
          }
        }
      }
    }

    // 
    .title {
      margin: rem(66) auto 0;
      height: rem(36);

      .left {
        width: rem(64);
        height: rem(23);
      }

      .right {
        width: rem(64);
        height: rem(25);
        background-image: url(../images/right.png);
      }

      p {
        height: auto;
        font-size: rem(40);
        line-height: rem(48);
      }

      .txt {
        font-size: rem(24);
      }
    }

    .new {
      height: auto;
      margin-top: rem(120);

      .new-item {
        display: block;
        width: rem(520);
        height: rem(300);

        &:before {
          width: rem(190);
        }

        .title {
          display: inline-block;
          width: rem(66);
          height: rem(23);
          margin: rem(36) 0 0 rem(40);
          border-radius: rem(15);
          font-size: rem(12);
          line-height: rem(24);
          white-space: nowrap;
        }

        .span {
          padding: 0 rem(365) 0 rem(43);
          margin-top: rem(19);
          line-height: rem(28);
          height: rem(28*8);

          p {
            font-size: rem(16);
          }
        }

        a {
          height: rem(13);
          font-size: rem(12);
          margin-left: rem(43);
          ;
        }
      }
    }

    .news-warp {
      width: rem(520);
      // transform: scale(1.1);
      margin-bottom: rem(20);

      .ty-title {
        padding-top: 1rem;
        margin-bottom: rem(-100)
      }
    }

    .news-boll {
      position: relative;
      left: 50%;
      transform: translateX(-50%) !important;
    }

    .boll {
      margin-top: rem(10);

      span {
        width: rem(12);
        height: rem(12);
        margin: 0 0.45rem !important;
      }
    }

    .newList {
      padding-top: 0rem;
      width: rem(520);
      height: auto;
      margin: 1rem auto rem(0);
      overflow: hidden;

      .newText {
        width: 100%;
        height: auto;
        margin: 0 auto rem(40);

        .left {
          width: rem(56);
          height: rem(80);
          background: url(../images/new_bg2.png) top left;
          padding: rem(12);
          margin-top: rem(5);
          text-align: center;

          span {
            &.month {
              margin-top: rem(18);
              line-height: rem(14);
            }

            &.day {
              font-size: rem(20);
              line-height: rem(24);
            }
          }
        }

        .p1 {
          margin-bottom: rem(6);
          padding-bottom: 0;
          padding-left: rem(24);
          font-size: rem(24);
          line-height: rem(28);
        }

        .p2 {
          width: rem(410);
          padding-left: rem(24);
          font-size: rem(20);
          color: rgba(154, 154, 154, 1);
          line-height: rem(32);
        }
      }
    }

    .student_life {
      width: 100%;
      min-width: 0;
      height: rem(850);
      padding-top: rem(30);
      overflow: hidden;

      .boll {
        margin-top: rem(0);
      }

      .title {
        margin: rem(40) auto 0;
        height: rem(40);
        margin-bottom: rem(40);

        p {
          font-size: 2rem;
          line-height: 2.4rem;
          height: auto;
          font-weight: bold;
          margin-bottom: 0;
        }

        .txt {
          font-size: rem(20);
          line-height: rem(24);
          padding-left: 0;
        }
      }

      .student_content {
        width: rem(440*3+40);
        padding: rem(40) rem(20) 0;
        margin-left: rem(-460+100);
        transform: translateX(0);

        .student_min {
          width: rem(330) !important;
          padding: 0 rem(55);
        }

        .in {
          margin-top: rem(58);
          width: rem(330);
          height: rem(420);

          img {
            display: block;
            width: 100%;
            height: rem(220);
          }

          .p1 {
            margin: rem(20) auto rem(12);
            width: rem(260);
            height: rem(40);
            font-size: rem(14);
            line-height: rem(20);
          }

          .p2 {
            width: rem(260);
            height: rem(80);
            font-size: rem(12);
            line-height: rem(20);
          }

          &::after {
            width: rem(130);
            height: rem(7);
            left: rem(32);
            bottom: 0;
          }

          .to {
            width: rem(41);
            height: rem(15);
            right: rem(37);
            bottom: rem(20);
          }
        }

        .swiper-slide-next {
          width: rem(440) !important;
          padding: 0;
        }

        .student_max .in,
        .swiper-slide-next .in {
          width: rem(440);
          height: rem(554);
          top: rem(-60);
          margin-right: rem(40);
          box-shadow: 0px 3px rem(40) 0px rgba(0, 0, 0, 0.31);

          &:hover {
            box-shadow: 0px 3px rem(40) 0px rgba(0, 0, 0, 0.7);
          }

          img {
            width: 100%;
            height: rem(290);
          }

          .p1 {
            width: rem(340);
            height: rem(48);
            font-size: rem(18);
            line-height: rem(24);
          }

          .p2 {
            width: rem(340);
            height: rem(96);
            font-size: rem(14);
            line-height: rem(24);
          }
        }
      }
    }

    footer {
      margin-top: rem(80);

      p {
        height: auto;
        font-size: rem(18);
        line-height: rem(30);
      }

      .footer_top {
        width: 100%;
        height: auto;

        .top_left {
          display: block;
          float: none;
          padding: rem(30) 0;
          width: 100%;
          text-align: center;

          a {
            padding-bottom: rem(20);

            img {
              width: 18rem;
              height: auto;
            }
          }
        }

        .top_right {
          display: block;
          float: none;
          padding: rem(20) 0;
          text-align: center;
          padding-bottom: 0;

          &:hover {
            padding-bottom: 140px;
          }

          .socialwraper {
            position: absolute;
            background: #fff;
            width: 130px;
            height: 130px;
            top: 55px;
            left: 50%;
            margin-left: -34px;
            border: 1px solid #ccc;
            display: none;
            z-index: 1;

            i {
              display: none;
            }

            img {
              width: 100%;
              height: auto;
              margin: 0;
            }
          }
        }

      }

      .footer_botttom {
        height: auto;
        padding: rem(30) 0;

        p {
          float: none;
          display: block;
          text-align: center;
        }

        .line_bottom {
          width: 90%;
          margin: 0 auto;
          display: block;
          margin-bottom: rem(30);
          float: none;
        }

        p {
          margin-top: rem(6);
        }
      }
    }
  }

  // 公共
  .container-2 {
    width: 100%;
  }

  .ty-banner {
    height: rem(180);

    img {
      position: absolute;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    h2 {
      width: rem(337/1.5);
      height: rem(74/1.5);
      line-height: rem(74/1.5);
      font-size: rem(20);
      bottom: rem(80/1.4);
    }

    .nav-list {
      height: rem(40);
      line-height: rem(40);
      font-size: rem(20);

      span {
        &:before {
          width: rem(4);
          height: rem(4);
          vertical-align: rem(4);
          margin: 0 rem(10) 0;
        }
      }
    }
  }

  .ty-title {
    font-size: rem(42);
    line-height: rem(80);

    .prev-icon,
    .next-icon {
      width: rem(64);
      height: rem(24);
      top: rem(28);
    }
  }

  .list-nums {

    .prev,
    .next {
      width: rem(64);
      height: rem(24);
      top: rem(28);
    }

    .nums {
      line-height: rem(72);

      a {
        margin-right: rem(20);
        font-size: rem(20);
      }
    }
  }

  .ty-more,
  .ty-more-1 {
    font-size: rem(16);
    width: rem(200);
        height: rem(60);
        line-height: rem(60);

    &:hover {
      font-size: rem(18);
    }
  }

  .ty-bolls {
    margin-top: rem(27);

    span {
      width: rem(12);
      height: rem(12);
      margin: 0 rem(10);
    }
  }

  // 关于我们
  .ty-dean {
    padding: rem(80) rem(50);
    width: 100%;
    box-sizing: border-box;

    .dean-img {
      width: 100%;

      img {
        width: 100%;
      }

      .name {
        width: rem(407);
        height: rem(122);
        bottom: rem(20);
        right: rem(-16);
      }

      h3 {
        font-size: rem(24);
        padding: rem(12) rem(80) 0 0;
      }

      p {
        font-size: rem(18);
        opacity: .7;
        padding-right: rem(80);
      }
    }

    .dean-say {
      width: 100%;
      padding-top: rem(40);

      p {
        font-size: rem(18);
        line-height: rem(30);
        margin-bottom: rem(30);
      }

      .ty-title {
        margin-bottom: rem(20);
      }

      .write-img {
        padding-top: rem(26);
        width: rem(166);
      }
    }
  }

  .ty-training {
    width: 100%;
    height: rem(600);
    padding: rem(80) 0;

    img {
      position: absolute;
    }

    .in {
      width: 90%;
      font-size: rem(20);
      line-height: rem(30);

      h3 {
        margin-bottom: rem(30);
      }

      p {
        margin-bottom: rem(30);
      }

      a {
        margin: rem(65) auto 0;
      }
    }
    .text {
      width: rem(764/1.7);
      height: auto;
      padding: rem(65/1.7) rem(110/1.7) rem(10/1.7) rem(90/1.7);
  
      &:after {
        width: rem(166);
        height: rem(7);
      }
    }
  }

  .ty-connect {
    padding: rem(80) 0 0;
    width: 100%;
    margin: 0 auto;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .in {
      position: relative;
      width: 90%;
      height: auto;
      top: 0;
      margin-left: -45%;
      margin-top: -2rem;

      .ty-title {
        padding-top: rem(30);
        margin-bottom: rem(20);
      }

      p {
        width: 90%;
        font-size: rem(20);
      }

      a {
        position: static;
        margin: rem(30) auto;
        width: rem(200);
        height: rem(60);
        line-height: rem(60);

        &:hover {
          font-size: rem(21);
        }
      }
    }
  }

  // 新闻

  .news {
    height: rem(152);

    h2 {
      bottom: rem(26);
    }
  }

  .ty-new-list {
    width: 100%;

    .list {
      padding: rem(50) 0;
      margin-left: 0;

      >a {
        display: block;
        width: rem(456);
        height: auto;
        margin-left: 0;
        float: none;
        padding: rem(50);
        margin: 0 auto rem(38);

        &:before {
          width: rem(600);
          height: rem(3);
        }

        &:hover {
          box-shadow: 0 0 rem(12) rgba(0, 0, 0, .3);
        }
      }
    }

    .time {
      float: left;
      font-size: rem(20);
      line-height: rem(28);
      width: rem(30);

      strong {
        font-size: rem(25);
      }
    }

    .detial {
      float: left;
      width: rem(400);
      box-sizing: border-box;
      padding-left: rem(42);
      margin-left: rem(20);

      h3 {
        font-size: rem(24);
        line-height: rem(40);
        margin-bottom: rem(18);
        height: auto;
        -webkit-line-clamp: 100;
      }

      p {
        font-size: rem(20);
        line-height: rem(28);
        height: auto;
        -webkit-line-clamp: 100;
      }

      &:before {
        width: 1px;
        left: rem(10);
        height: rem(165);
      }
    }
  }

  .ty-crumbs {
    position: static;
    line-height: rem(50);
    font-size: rem(18);
    margin-left: rem(30);
    padding-top: rem(15);

    a {
      &:after {
        margin: 0 3px;
      }
    }
  }

  .ty-new-list3 {
    width: 90%;
    margin: 0 auto;

    .list {
      padding-bottom: rem(0);

      a {
        width: 100%;
        height: auto;
        padding-bottom: rem(40);
        margin-bottom: rem(30);
      }
    }

    .time {
      clear: both;
      float: left;
      font-size: rem(18);
      line-height: rem(24);
      width: rem(30);
      margin-left: rem(40);
      padding-top: rem(45);

      strong {
        font-size: rem(24);
        margin-top: rem(6);
      }
    }

    .detial {
      float: left;
      width: rem(470);
      box-sizing: border-box;
      padding-left: rem(42);
      margin-left: 0;
      margin-top: rem(40);

      h3 {
        font-size: rem(24);
        line-height: rem(30);
        height: rem(60);
        margin-bottom: rem(18);
      }

      p {
        font-size: rem(20);
        line-height: rem(30);
        height: auto;
        max-height: rem(120);
        overflow: hidden;
      }

      &:before {
        height: rem(165);
        left: rem(20);
      }
    }
  }

  .ty-new-detial {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;

    .ty-title {
      padding: rem(40) 0;
      font-size: 26px;
      line-height: 1.5;
      text-align: left;
      margin-bottom: rem(0);
    }

    .left-bar {
      float: none;
      width: 100%;
      margin: 0 auto;
      margin-bottom: rem(50);

      .time {
        padding: rem(15);
        display: inline-block;
        vertical-align: middle;
        font-size: rem(18);
        margin-bottom: rem(0);

        strong {
          font-size: rem(28);
        }
      }

      .share {
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(30);
        width: auto;

        p {
          display: none;
        }

        a {
          margin-bottom: 0;
          margin-right: rem(10);
          width: rem(50);
          height: rem(50);
          line-height: rem(50);
          border-radius: 50%;
          font-size: rem(25);
        }
      }
    }

    .new-main {
      float: none;
      width: 100%;
      font-size: rem(20);
      line-height: rem(30);
      margin-left: 0;

      p {
        text-indent: rem(40);
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: rem(30);
      }

      img {
        width: 90%;
      }

      .img-detial {
        font-size: rem(18);
        line-height: rem(30);
        margin: rem(10) 0 rem(30);
      }
    }
  }

  .ty-guidance {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .main {
      padding: rem(50) 0 0;
    }

    .top {
      margin-bottom: rem(20);

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .r {
      padding: rem(50) rem(80) 0;
      box-sizing: border-box;
      position: static;
      margin: rem(-220) auto 0;
      width: rem(540);
      height: rem(450);

      h4 {
        font-size: rem(30);
        line-height: rem(32);
        margin-bottom: rem(30);
        padding-top: rem(0);
      }
  
      p {
        font-size: rem(18);
        line-height: rem(30);
        margin-bottom: rem(60);
        width: 100%;
      }
    }
    .ty-more {
      width: rem(380);
      margin: 0;
  
      &:after {
        width: rem(48);
        height: rem(17);
        margin-left: rem(40);
      }
    }
  }

  .ty-recruit,
  .ty-vocation {
    float: none;
    width: rem(500);
    margin: 0 auto rem(50);

    .ty-title {
      font-size: rem(40);
    }

    li {
      line-height: rem(60);
      font-size: rem(28);
    }

    a {
      span {
        margin-right: rem(12);
      }
    }
  }

  .ty-how-connect {
    border-left: 0;
    padding-left: 0;
    float: none;
    width: 80%;
    margin: 0 auto rem(50);

    .ty-title {
      font-size: rem(40);
    }

    font-size:rem(24);
    line-height:rem(40);

    &:after {
      width: rem(95);
      height: rem(5);
      margin-top: rem(30);
    }

    img {
      width: rem(18);
      margin-right: rem(12);
    }
  }

  .ty-practice {
    .img {
      width: 100%;
      height: auto;
      margin-bottom: rem(30);

    }
  }

  // 校园生活
  .ty-school-student {
    padding: rem(30) 0 rem(50);

    .boll {
      margin-top: 0;
      position: relative;
      top: -rem(40);
    }

    div.student_content {
      padding-top: rem(40);
    }

    div.title {
      margin-bottom: rem(0);
    }
  }

  .add-more {
    padding-top: rem(0);
    padding-bottom: rem(20);
  }

  // new
  .project-list {
    padding-top: rem(100);
    width: 100%;
    height: auto;

    li {
      float: none;
      margin: 0 auto rem(40);
      width: rem(556);
      height: rem(370);
      position: relative;

      &:last-child {
        margin: 0 auto;
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
      }

      .in {
        width: rem(215);
        padding-left: rem(5);
        height: rem(280);
        border-bottom: rem(7) solid #a20026;

        h3 {
          font-size: rem(24);
          line-height: rem(26);
          margin-bottom: rem(14);
        }

        h4 {
          font-size: rem(24);
          line-height: rem(24);
          margin-bottom: rem(22);
        }

        p {
          width: rem(180);
          height: rem(147);
          font-size: rem(13);
          line-height: rem(21);
        }

        &:after {
          width: rem(48);
          height: rem(17);
          border-bottom: rem(15);
          right: rem(42);
        }
      }
    }
  }
  .activity-more {
    width: rem(80);
    height: rem(23);
    font-size: rem(14);
    right: rem(20);
    top: rem(20);
  }

  .ty-teacher {
    width: 100%;
    min-width: 0;
    padding: rem(80) 0 0;
    margin: 0 auto;
  
    .teacher-list {
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
    }
  
    ul {
      height: 100%;
      padding: rem(80) rem(15) 0;
    }
  
    li {
      float: left;
      width: rem(260/1.7);
      height: rem(348/1.7);
      padding-right: rem(230/1.7);
      margin-bottom: rem(60/1.7);
      margin-right: rem(25/1.7);
  
      &:nth-child(3) {
        margin-left: rem(0);
      }
    }
  
    .in {
      width: rem(273/1.7);
      height: rem(210/1.7);
      top: rem(72/1.7);
  
      h3 {
        font-size: rem(18/1.7);
        margin-bottom: rem(12/1.7);
        padding: rem(36/1.7) 0 0 rem(60/1.7);
      }
  
      p {
        height: rem(24/1.7);
        font-size: rem(12/1.7);
        line-height: rem(24/1.7);
        padding-left: rem(60/1.7);
      }
    }
  }

  .project-pic {
    padding-top: rem(50);
    height: auto;
    width: 100%;
    overflow: visible;
  
    .in {
      width: 100%;
      height: rem(650);
    }
  
    img {
      width: 100%;
      height: auto;
      position: static;
    }
  
    .text {
      position: absolute;
      left: rem(10);
      width: rem(587-110);
      padding-left: rem(110);
      height: rem(452);
      top: rem(200);
  
      h3 {
        font-size: rem(24);
        line-height: rem(30);
        padding: rem(56) 0 rem(25);
      }
  
      p {
        width: rem(440);
        font-size: rem(14);
        line-height: rem(24);
        text-indent: rem(28);
      }
  
      &:after {
        width: rem(125);
        height: rem(8);
        left: rem(110);
        bottom: rem(50);
      }
    }
  }

  .list-project {
    padding: rem(38) 0;
    width: 100%;
    margin: 0 auto;
  
    li {
      display: block;
      width: rem(540);
      height: rem(126);
      font-size: rem(20);
      line-height: rem(126);
      padding: 0 rem(50);
      margin: 0 auto rem(20);
  
      &:nth-child(even) {
        margin: 0 auto;
      }
  
      a {
        line-height: rem(32);
        width: rem(350);
      }
  
      &:after {
        width: rem(83);
        height: rem(23);
        top: rem(52);
        right: rem(50);
      }
    }
  }

  .ty-gl {
    .project-pic {
      img {
        left: 458px;
      }
  
      .text {
        right: auto;
        left: rem(10);
        padding-left: rem(110);
        padding-right: 0;
  
        &:after {
          left: rem(110);
        }
      }
    }
  }

  .apply-list {
    padding-top: rem(50);
  
    width: 100%;
    margin: 0 auto;
  
    >ul>li {
      width: rem(388*1.5);
      margin: 0 auto rem(30);
      float: none;
  
      img {
        width: rem(388*1.5);
        height: rem(254*1.5);
      }
  
      .in {
        width: rem(332*1.5);
        padding-left: rem(28*1.5);
        top: rem(-46*1.5);
        font-size: rem(18*1.5);
        line-height: rem(45);
      }
  
      h3 {
        font-size: rem(45);
        padding: rem(28*1.5) 0;
      }
  
      p {
        width: rem(450);
        padding-left: rem(28*1.5);
      }
  
      ul {
        padding-left: rem(28*1.5);
      }
  
      &:after {
        width: rem(120*1.5);
        height: rem(7*1.5);
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }

  .ty-dean .dean-say hr {
    width: rem(166);
    height: rem(7);
  }

  .ty-products {
    width: 100%;
    min-width: 0;
    height: rem(700);
  
    .ty-title {
      padding: rem(80) 0;
    }
  
    p {
      width: rem(560);
      font-size: rem(18);
      line-height: rem(30);
      text-indent: rem(36);
  
      &:after {
        margin: rem(80) auto 0;
        width: rem(166);
        height: rem(7);
      }
    }
  }

  .index-project {
    padding: rem(20) 0 rem(80);
  }
}